# The-Numbers.com Box office Analysis

## Import Packages

In [370]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import os
import re
from datetime import datetime
import copy
import holidays
import pickle

In [371]:
path = 'raw_data'
files = os.listdir(path)

## Loading Data

In [372]:
# Loading the data
df_details = pd.DataFrame()
df_bo = pd.DataFrame()
df_int = pd.DataFrame()
df_country = pd.DataFrame()

for file in files:
    if re.match('(\d+)_movie_details\.csv', file):
        df_details = pd.concat([df_details, pd.read_csv(path + '/' + file)])
    if re.match('(\d+)_bo_performance\.csv', file):
        df_bo = pd.concat([df_bo, pd.read_csv(path + '/' + file)])
    if re.match('(\d+)_international_bo_performance\.csv', file):
        df_int = pd.concat([df_int, pd.read_csv(path + '/' + file)])
    if re.match('(\d+)_country_bo_performance\.csv', file):
        df_country = pd.concat([df_country, pd.read_csv(path + '/' + file)])

df_movies = pd.read_csv(path + '/' +'20230724_movie_list.csv')

/var/folders/f4/mmfbs50954l08xffq4m0vf3m0000gn/T/ipykernel_59219/3711477783.py:15: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df_country = pd.concat([df_country, pd.read_csv(path + '/' + file)])
/var/folders/f4/mmfbs50954l08xffq4m0vf3m0000gn/T/ipykernel_59219/3711477783.py:15: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df_country = pd.concat([df_country, pd.read_csv(path + '/' + file)])

In [373]:
df_details

,Unnamed: 0,url,cast,crew,Opening Weekend:,Legs:,Domestic Share:,Theater counts:,Infl. Adj. Dom. BO,Production Budget:,...,Production/Financing Companies:,Production Countries:,Languages:,Franchise:,Domestic Box Office,International Box Office,Worldwide Box Office,Est. Domestic DVD Sales,Est. Domestic Blu-ray Sales,Total Est. Domestic Video Sales
0,0,https://www.the-numbers.com/movie/Dry-The-(Aus...,"[""Genevieve O'Reilly"", ""Keir O'Donnell"", 'John...","[['Robert Connolly', 'Director'], ['Harry Crip...","$119,364 (32.8% of total gross)",3.05 (domestic box office/biggest weekend),2.1% (domestic box office/worldwide),"186 opening theaters/186 max. theaters, 2.5 we...","$366,147",NaN,...,"Screen Australia, Film Victoria, Made Up Stori...","Australia, United States",English,NaN,"$364,397","$17,124,326","$17,488,723",NaN,NaN,NaN
1,1,https://www.the-numbers.com/movie/Octonauts-Th...,[],"[['Blair Simmons', 'Director'], ['Qin Zhou', '...",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,"China, United Kingdom",Mandarin,NaN,NaN,"$8,437,314","$8,437,314",NaN,NaN,NaN
2,2,https://www.the-numbers.com/movie/Penguin-Bloom,"['Andrew Lincoln', 'Jacki Weaver', 'Rachel Hou...","[['Glendyn Ivin', 'Director'], ['Shaun Grant',...",NaN,NaN,NaN,NaN,NaN,NaN,...,"Made Up Stories, Screen Australia, Broadtalk, ...","Australia, United States",English,NaN,NaN,"$6,262,056","$6,262,056",NaN,NaN,NaN
3,3,https://www.the-numbers.com/movie/Posledniy-bo...,[],"[['Dmitry Dyachenko', 'Director']]",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Russian Federation,Russian,NaN,NaN,"$33,396,899","$33,396,899",NaN,NaN,NaN
4,4,https://www.the-numbers.com/movie/Gintama-The-...,[],"[['Chizuru Miyawaki', 'Director']]",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Japan,Japanese,Gintama,NaN,"$15,775,367","$15,775,367",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111,111,https://www.the-numbers.com/movie/Kindergarten...,"['Penelope Ann Miller', 'Linda Hunt', 'Richard...","[['Ivan Reitman', 'Director'], ['Ivan Reitman'...","$11,260,685 (12.3% of total gross)",5.59 (domestic box office/biggest weekend),45.3% (domestic box office/worldwide),"1,833 opening theaters/1,934 max. theaters, 9....","$198,963,691","$26,000,000 (worldwide box office is 7.8 times...",...,Imagine Entertainment,United States,English,Kindergarten Cop,"$91,457,688","$110,542,312","$202,000,000",NaN,NaN,NaN
112,112,https://www.the-numbers.com/movie/Long-Walk-Ho...,[],"[['Richard Pearce', 'Director'], ['John Cork',...",NaN,20.43 (domestic box office/biggest weekend),100.0% (domestic box office/worldwide),NaN,"$30,054,134",NaN,...,NaN,United States,NaN,NaN,"$13,798,030",NaN,NaN,NaN,NaN,NaN
113,113,https://www.the-numbers.com/movie/Alice-(1990),[],"[['Woody Allen', 'Director'], ['Woody Allen', ...",NaN,NaN,100.0% (domestic box office/worldwide),NaN,"$15,931,564",NaN,...,NaN,United States,"Cantonese, English",NaN,"$7,331,647",NaN,NaN,NaN,NaN,NaN
114,114,https://www.the-numbers.com/movie/Godfather-Pa...,"['Andy Garcia', 'Al Pacino']","[['Francis Ford Coppola', 'Director'], ['Mario...","$19,558,558 (29.3% of total gross)",3.41 (domestic box office/biggest weekend),99.8% (domestic box office/worldwide),"1,901 opening theaters/1,922 max. theaters, 6....","$144,909,420","$54,000,000 (worldwide box office is 1.2 times...",...,Paramount Pictures,United States,"English, German, Italian, Latin",Godfather,"$66,666,062","$120,904","$66,786,966",NaN,NaN,NaN
115,115,https://www.the-numbers.com/movie/Green-Card,"['Gerard Depardieu', 'Andie MacDowell']","[['Peter Weir', 'Director'], ['Peter Weir', 'P...",NaN,7.36 (domestic box office/biggest weekend),100.0% (domestic box office/worldwide),NaN,"$64,917,869",NaN,...,"Green Card Production Company, Inc.",United States,English,NaN,"$29,804,169",NaN,NaN,NaN,NaN,NaN

## Core Functions

### Cleaning Monetary values

In [374]:
# Cleaning Columns that contain money values
def get_monetary_clean(df, cols):
    for col in cols:
        df[col] = (pd.to_numeric(df[col]
                                 .str.replace(',', '', regex=False)
                                 .str.replace('$', '', regex=False)
                                 .str.replace('\xa0', '', regex=False), errors='coerce', downcast='float'))

### Setting as categorical

In [375]:
def set_categorical(df, vars):
    df[vars] = df[vars].astype('category')

### Filter in list

In [376]:
def filter_list_col(df, col, search_string):
    df = (df.loc[df[col].apply(lambda x: search_string in x if isinstance(x, list) else False), :])
    return df

### Format as Date

In [377]:
def set_as_date(df, col, date_format):
    df[col] = df[col].apply(lambda x: datetime.strptime(x, date_format).date() if x != 'nan' else None).astype('datetime64')

### Crew Top Roles

In [378]:
def crew_top_roles(start, end):
    _comb_dict = {} 

    for dictionary in movies['crew']:
        copy_dicts = copy.deepcopy(dictionary[0])
        for orig_key, orig_value in copy_dicts.items():
            key = orig_key
            value = orig_value
            if key in _comb_dict:
                _comb_dict[key].append(value)
            else:
                _comb_dict[key] = value

    value_counts = {key: len(values) for key, values in _comb_dict.items()}
    _top_roles = pd.Series(value_counts)
    print(len(_top_roles))

    print(_top_roles.sort_values(ascending=False)[start:end])

### Format Numbers

In [379]:
def numformat(df, columns):
    return df[columns].applymap(lambda x: f'{x/1000000:.3f}M' if isinstance(x, float) else x)

# Data Cleaning

In [380]:
df_movies.head()

,Unnamed: 0,year,movie,url,genre,release_type,revenue_to_date
0,23,1915,The Birth of a Nation,https://www.the-numbers.com/movie/Birth-of-a-N...,Drama,Theatrical,11000000.0
1,41,1916,"20,000 Leagues Under the Sea",https://www.the-numbers.com/movie/20000-League...,Adventure,Theatrical,8000000.0
2,77,1921,The Four Horsemen of the Apocalypse,https://www.the-numbers.com/movie/Four-Horseme...,NaN,Theatrical,9200000.0
3,148,1925,The Big Parade,https://www.the-numbers.com/movie/Big-Parade-T...,Drama,Theatrical,22268719.0
4,155,1925,Ben-Hur: A Tale of the Christ,https://www.the-numbers.com/movie/Ben-Hur-A-Ta...,Adventure,Theatrical,9000000.0

In [381]:
df_movies = df_movies.drop('Unnamed: 0', axis=1)

In [382]:
df_details.head()

,Unnamed: 0,url,cast,crew,Opening Weekend:,Legs:,Domestic Share:,Theater counts:,Infl. Adj. Dom. BO,Production Budget:,...,Production/Financing Companies:,Production Countries:,Languages:,Franchise:,Domestic Box Office,International Box Office,Worldwide Box Office,Est. Domestic DVD Sales,Est. Domestic Blu-ray Sales,Total Est. Domestic Video Sales
0,0,https://www.the-numbers.com/movie/Dry-The-(Aus...,"[""Genevieve O'Reilly"", ""Keir O'Donnell"", 'John...","[['Robert Connolly', 'Director'], ['Harry Crip...","$119,364 (32.8% of total gross)",3.05 (domestic box office/biggest weekend),2.1% (domestic box office/worldwide),"186 opening theaters/186 max. theaters, 2.5 we...","$366,147",NaN,...,"Screen Australia, Film Victoria, Made Up Stori...","Australia, United States",English,NaN,"$364,397","$17,124,326","$17,488,723",NaN,NaN,NaN
1,1,https://www.the-numbers.com/movie/Octonauts-Th...,[],"[['Blair Simmons', 'Director'], ['Qin Zhou', '...",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,"China, United Kingdom",Mandarin,NaN,NaN,"$8,437,314","$8,437,314",NaN,NaN,NaN
2,2,https://www.the-numbers.com/movie/Penguin-Bloom,"['Andrew Lincoln', 'Jacki Weaver', 'Rachel Hou...","[['Glendyn Ivin', 'Director'], ['Shaun Grant',...",NaN,NaN,NaN,NaN,NaN,NaN,...,"Made Up Stories, Screen Australia, Broadtalk, ...","Australia, United States",English,NaN,NaN,"$6,262,056","$6,262,056",NaN,NaN,NaN
3,3,https://www.the-numbers.com/movie/Posledniy-bo...,[],"[['Dmitry Dyachenko', 'Director']]",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Russian Federation,Russian,NaN,NaN,"$33,396,899","$33,396,899",NaN,NaN,NaN
4,4,https://www.the-numbers.com/movie/Gintama-The-...,[],"[['Chizuru Miyawaki', 'Director']]",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Japan,Japanese,Gintama,NaN,"$15,775,367","$15,775,367",NaN,NaN,NaN

In [383]:
df_details = df_details.drop(['Unnamed: 0'], axis=1)
df_details.head()

,url,cast,crew,Opening Weekend:,Legs:,Domestic Share:,Theater counts:,Infl. Adj. Dom. BO,Production Budget:,Domestic Releases:,...,Production/Financing Companies:,Production Countries:,Languages:,Franchise:,Domestic Box Office,International Box Office,Worldwide Box Office,Est. Domestic DVD Sales,Est. Domestic Blu-ray Sales,Total Est. Domestic Video Sales
0,https://www.the-numbers.com/movie/Dry-The-(Aus...,"[""Genevieve O'Reilly"", ""Keir O'Donnell"", 'John...","[['Robert Connolly', 'Director'], ['Harry Crip...","$119,364 (32.8% of total gross)",3.05 (domestic box office/biggest weekend),2.1% (domestic box office/worldwide),"186 opening theaters/186 max. theaters, 2.5 we...","$366,147",NaN,"May 21st, 2021 (Limited) by IFC Films",...,"Screen Australia, Film Victoria, Made Up Stori...","Australia, United States",English,NaN,"$364,397","$17,124,326","$17,488,723",NaN,NaN,NaN
1,https://www.the-numbers.com/movie/Octonauts-Th...,[],"[['Blair Simmons', 'Director'], ['Qin Zhou', '...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,"China, United Kingdom",Mandarin,NaN,NaN,"$8,437,314","$8,437,314",NaN,NaN,NaN
2,https://www.the-numbers.com/movie/Penguin-Bloom,"['Andrew Lincoln', 'Jacki Weaver', 'Rachel Hou...","[['Glendyn Ivin', 'Director'], ['Shaun Grant',...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"Made Up Stories, Screen Australia, Broadtalk, ...","Australia, United States",English,NaN,NaN,"$6,262,056","$6,262,056",NaN,NaN,NaN
3,https://www.the-numbers.com/movie/Posledniy-bo...,[],"[['Dmitry Dyachenko', 'Director']]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Russian Federation,Russian,NaN,NaN,"$33,396,899","$33,396,899",NaN,NaN,NaN
4,https://www.the-numbers.com/movie/Gintama-The-...,[],"[['Chizuru Miyawaki', 'Director']]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Japan,Japanese,Gintama,NaN,"$15,775,367","$15,775,367",NaN,NaN,NaN

In [384]:
#there seem to be duplicate values 
display(df_details.duplicated().sum())
display(df_movies.duplicated().sum())

2

0

### Handling movies duplicate values based on url

In [385]:
# Dropping duplicates
df_details = df_details.drop_duplicates()

In [386]:
# Checking if the shape of the two match up
display(df_details.shape)
display(df_movies.shape)

(9526, 30)

(9528, 6)

In [387]:
movies = df_details.merge(df_movies, on=['url'])
movies.head()

,url,cast,crew,Opening Weekend:,Legs:,Domestic Share:,Theater counts:,Infl. Adj. Dom. BO,Production Budget:,Domestic Releases:,...,International Box Office,Worldwide Box Office,Est. Domestic DVD Sales,Est. Domestic Blu-ray Sales,Total Est. Domestic Video Sales,year,movie,genre,release_type,revenue_to_date
0,https://www.the-numbers.com/movie/Dry-The-(Aus...,"[""Genevieve O'Reilly"", ""Keir O'Donnell"", 'John...","[['Robert Connolly', 'Director'], ['Harry Crip...","$119,364 (32.8% of total gross)",3.05 (domestic box office/biggest weekend),2.1% (domestic box office/worldwide),"186 opening theaters/186 max. theaters, 2.5 we...","$366,147",NaN,"May 21st, 2021 (Limited) by IFC Films",...,"$17,124,326","$17,488,723",NaN,NaN,NaN,2021,The Dry,Thriller/Suspense,Theatrical,17488723.0
1,https://www.the-numbers.com/movie/Octonauts-Th...,[],"[['Blair Simmons', 'Director'], ['Qin Zhou', '...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$8,437,314","$8,437,314",NaN,NaN,NaN,2021,Octonauts: The Ring of Fire,Adventure,Theatrical,8437314.0
2,https://www.the-numbers.com/movie/Penguin-Bloom,"['Andrew Lincoln', 'Jacki Weaver', 'Rachel Hou...","[['Glendyn Ivin', 'Director'], ['Shaun Grant',...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$6,262,056","$6,262,056",NaN,NaN,NaN,2021,Penguin Bloom,Drama,Theatrical,6262056.0
3,https://www.the-numbers.com/movie/Posledniy-bo...,[],"[['Dmitry Dyachenko', 'Director']]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$33,396,899","$33,396,899",NaN,NaN,NaN,2021,Posledniy bogatyr. Koren’ Zla,Adventure,Theatrical,33396899.0
4,https://www.the-numbers.com/movie/Gintama-The-...,[],"[['Chizuru Miyawaki', 'Director']]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$15,775,367","$15,775,367",NaN,NaN,NaN,2021,Gintama: The Final,Action,Theatrical,15775367.0

In [388]:
_duplicated_id = movies.loc[movies['url'].duplicated(keep=False), :]

In [389]:
# investigating where differences are present
_duplicated_id.nunique().sort_values(ascending=False).head()

revenue_to_date                    4
Keywords:                          2
movie                              2
year                               2
Total Est. Domestic Video Sales    2
dtype: int64

In [390]:
_duplicated_id['revenue_to_date']

2011    214286622.0
2012    214287001.0
2798    244154308.0
2799    244153251.0
Name: revenue_to_date, dtype: float64

In [391]:
#Minimal differences, just go ahead and drop
movies.drop_duplicates(subset='url', inplace=True)

### Cleaning columns

In [392]:
# investigating Columns
movies.columns

Index(['url', 'cast', 'crew', 'Opening Weekend:', 'Legs:', 'Domestic Share:',
       'Theater counts:', 'Infl. Adj. Dom. BO', 'Production Budget:',
       'Domestic Releases:', 'International Releases:', 'Video Release:',
       'MPAA Rating:', 'Running Time:', 'Comparisons:', 'Keywords:', 'Source:',
       'Genre:', 'Production Method:', 'Creative Type:',
       'Production/Financing Companies:', 'Production Countries:',
       'Languages:', 'Franchise:', 'Domestic Box Office',
       'International Box Office', 'Worldwide Box Office',
       'Est. Domestic DVD Sales', 'Est. Domestic Blu-ray Sales',
       'Total Est. Domestic Video Sales', 'year', 'movie', 'genre',
       'release_type', 'revenue_to_date'],
      dtype='object')

In [393]:
movies.rename(inplace=True, columns={
    'Domestic Share:': 'dom_pct',
    'Production\xa0Budget:': 'budget',
    'Legs:': 'legs',
    'Opening\xa0Weekend:': 'opening_wknd_bo',
    'Theater counts:': 'n_theaters',
    'Infl. Adj. Dom. BO': 'adj_dom_bo',
    'Domestic Releases:': 'dom_releases',
    'International Releases:': 'int_releases',
    'Video\xa0Release:': 'video_releases',
    'MPAA\xa0Rating:': 'mpaa',
    'Running Time:': 'runtime',
    'Comparisons:': 'comps',
    'Keywords:': 'keywords',
    'Source:': 'source',
    'Genre:': 'genre_details',
    'Production\xa0Method:': 'prod_method',
    'Creative\xa0Type:': 'creative_type',
    'Production Countries:': 'prod_countries',
    'Languages:': 'languages',
    'Franchise:': 'franchise',
    'Production/Financing Companies:': 'producers',
    'Domestic Box Office': 'dom_bo',
    'International Box Office': 'int_bo',
    'Worldwide Box Office': 'ww_bo',
    'Est. Domestic Blu-ray Sales': 'est_dom_bluray',
    'Total Est. Domestic Video Sales': 'tot_dom_vid_sales',
    'Est. Domestic DVD Sales': 'est_dom_dvd',
    'movie': 'movie_title'
})

In [394]:
movies.columns

Index(['url', 'cast', 'crew', 'opening_wknd_bo', 'legs', 'dom_pct',
       'n_theaters', 'adj_dom_bo', 'budget', 'dom_releases', 'int_releases',
       'video_releases', 'mpaa', 'runtime', 'comps', 'keywords', 'source',
       'genre_details', 'prod_method', 'creative_type', 'producers',
       'prod_countries', 'languages', 'franchise', 'dom_bo', 'int_bo', 'ww_bo',
       'est_dom_dvd', 'est_dom_bluray', 'tot_dom_vid_sales', 'year',
       'movie_title', 'genre', 'release_type', 'revenue_to_date'],
      dtype='object')

In [395]:
movies.head()

,url,cast,crew,opening_wknd_bo,legs,dom_pct,n_theaters,adj_dom_bo,budget,dom_releases,...,int_bo,ww_bo,est_dom_dvd,est_dom_bluray,tot_dom_vid_sales,year,movie_title,genre,release_type,revenue_to_date
0,https://www.the-numbers.com/movie/Dry-The-(Aus...,"[""Genevieve O'Reilly"", ""Keir O'Donnell"", 'John...","[['Robert Connolly', 'Director'], ['Harry Crip...","$119,364 (32.8% of total gross)",3.05 (domestic box office/biggest weekend),2.1% (domestic box office/worldwide),"186 opening theaters/186 max. theaters, 2.5 we...","$366,147",NaN,"May 21st, 2021 (Limited) by IFC Films",...,"$17,124,326","$17,488,723",NaN,NaN,NaN,2021,The Dry,Thriller/Suspense,Theatrical,17488723.0
1,https://www.the-numbers.com/movie/Octonauts-Th...,[],"[['Blair Simmons', 'Director'], ['Qin Zhou', '...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$8,437,314","$8,437,314",NaN,NaN,NaN,2021,Octonauts: The Ring of Fire,Adventure,Theatrical,8437314.0
2,https://www.the-numbers.com/movie/Penguin-Bloom,"['Andrew Lincoln', 'Jacki Weaver', 'Rachel Hou...","[['Glendyn Ivin', 'Director'], ['Shaun Grant',...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$6,262,056","$6,262,056",NaN,NaN,NaN,2021,Penguin Bloom,Drama,Theatrical,6262056.0
3,https://www.the-numbers.com/movie/Posledniy-bo...,[],"[['Dmitry Dyachenko', 'Director']]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$33,396,899","$33,396,899",NaN,NaN,NaN,2021,Posledniy bogatyr. Koren’ Zla,Adventure,Theatrical,33396899.0
4,https://www.the-numbers.com/movie/Gintama-The-...,[],"[['Chizuru Miyawaki', 'Director']]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$15,775,367","$15,775,367",NaN,NaN,NaN,2021,Gintama: The Final,Action,Theatrical,15775367.0

### Cleaning `release_type`

In [396]:
# There is only one release type, hence we can drop it
movies['release_type'].unique()

array(['Theatrical'], dtype=object)

In [397]:
movies = movies.drop(columns='release_type')

### Cleaning `legs`

In [398]:
# Checking out legs
movies.loc[~movies['legs'].isna(), 'legs'].head()

0     3.05 (domestic box office/biggest weekend)
8     5.01 (domestic box office/biggest weekend)
13    9.97 (domestic box office/biggest weekend)
14    3.26 (domestic box office/biggest weekend)
16    5.17 (domestic box office/biggest weekend)
Name: legs, dtype: object

In [399]:
# Seems like the latter part does not add any value. lets remove it 
movies['legs'] = (movies['legs']
                  .str.replace(' (domestic box office/biggest weekend)', '', regex=False)
                  .str.replace(',','', regex=False)
                  .astype('float'))
movies['legs'].head()

0    3.05
1     NaN
2     NaN
3     NaN
4     NaN
Name: legs, dtype: float64

### Cleaning `creative_type`

In [400]:
# Creative type seems fine
movies['creative_type'].unique()

array(['Contemporary Fiction', 'Kids Fiction', 'Dramatization',
       'Super Hero', 'Fantasy', 'Science Fiction', nan,
       'Historical Fiction', 'Multiple Creative Types', 'Factual'],
      dtype=object)

In [401]:
set_categorical(movies, ['creative_type'])
movies['creative_type'].head()

0    Contemporary Fiction
1            Kids Fiction
2           Dramatization
3              Super Hero
4                 Fantasy
Name: creative_type, dtype: category
Categories (9, object): ['Contemporary Fiction', 'Dramatization', 'Factual', 'Fantasy', ..., 'Kids Fiction', 'Multiple Creative Types', 'Science Fiction', 'Super Hero']

### Cleaning `runtime`

In [402]:
movies['runtime'].unique()

array(['118 minutes', nan, '95 minutes', '104 minutes', '125 minutes',
       '130 minutes', '179 minutes', '107 minutes', '90 minutes',
       '98 minutes', '122 minutes', '136 minutes', '109 minutes',
       '127 minutes', '124 minutes', '108 minutes', '110 minutes',
       '126 minutes', '129 minutes', '100 minutes', '111 minutes',
       '75 minutes', '114 minutes', '112 minutes', '87 minutes',
       '154 minutes', '115 minutes', '84 minutes', '119 minutes',
       '92 minutes', '113 minutes', '93 minutes', '91 minutes',
       '96 minutes', '99 minutes', '138 minutes', '120 minutes',
       '83 minutes', '145 minutes', '105 minutes', '102 minutes',
       '134 minutes', '137 minutes', '133 minutes', '94 minutes',
       '97 minutes', '88 minutes', '103 minutes', '131 minutes',
       '121 minutes', '132 minutes', '117 minutes', '89 minutes',
       '101 minutes', '60 minutes', '116 minutes', '156 minutes',
       '176 minutes', '163 minutes', '86 minutes', '123 minutes',
       '153 minutes', '106 minutes', '141 minutes', '160 minutes',
       '148 minutes', '150 minutes', '82 minutes', '37 minutes',
       '80 minutes', '152 minutes', '161 minutes', '128 minutes',
       '41 minutes', '76 minutes', '85 minutes', '149 minutes',
       '140 minutes', '135 minutes', '81 minutes', '146 minutes',
       '79 minutes', '147 minutes', '172 minutes', '158 minutes',
       '162 minutes', '170 minutes', '78 minutes', '77 minutes',
       '143 minutes', '139 minutes', '159 minutes', '65 minutes',
       '155 minutes', '74 minutes', '144 minutes', '164 minutes',
       '151 minutes', '167 minutes', '40 minutes', '142 minutes',
       '169 minutes', '187 minutes', '189 minutes', '180 minutes',
       '39 minutes', '174 minutes', '168 minutes', '184 minutes',
       '186 minutes', '9 minutes', '183 minutes', '44 minutes',
       '251 minutes', '34 minutes', '213 minutes', '42 minutes',
       '165 minutes', '70 minutes', '38 minutes', '171 minutes',
       '45 minutes', '181 minutes', '197 minutes', '208 minutes',
       '195 minutes', '69 minutes', '157 minutes', '68 minutes',
       '260 minutes', '71 minutes', '173 minutes', '219 minutes',
       '61 minutes', '248 minutes', '205 minutes', '175 minutes',
       '191 minutes', '52 minutes', '240 minutes', '182 minutes',
       '190 minutes', '188 minutes', '72 minutes', '220 minutes',
       '201 minutes', '64 minutes', '66 minutes', '55 minutes',
       '59 minutes', '178 minutes', '210 minutes', '193 minutes',
       '177 minutes', '242 minutes', '62 minutes', '166 minutes',
       '254 minutes', '194 minutes', '47 minutes', '73 minutes',
       '202 minutes', '48 minutes', '206 minutes', '43 minutes',
       '185 minutes', '212 minutes', '35 minutes', '54 minutes',
       '46 minutes'], dtype=object)

In [403]:
movies['runtime'] = (movies['runtime']
                     .str.replace(' minutes', '')
                     .astype('float'))
movies['runtime'].head()

0    118.0
1      NaN
2     95.0
3      NaN
4    104.0
Name: runtime, dtype: float64

### Cleaning `sources`

In [404]:
#Checking for source
movies['source'].unique()

array(['Based on Fiction Book/Short Story', 'Based on TV',
       'Based on Factual Book/Article', nan,
       'Based on Comic/Graphic Novel', 'Original Screenplay', 'Remake',
       'Compilation', 'Based on Real Life Events', 'Based on Short Film',
       'Based on Folk Tale/Legend/Fairytale', 'Spin-Off', 'Based on Game',
       'Based on Movie', 'Based on Musical or Opera', 'Based on Toy',
       'Based on Theme Park Ride', 'Based on Play',
       'Based on Religious Text', 'Based on Song', 'Based on Ballet',
       'Based on Musical Group', 'Based on Web Series', 'Based on Poem'],
      dtype=object)

In [405]:
# Data seems clean 
set_categorical(movies, ['source'])
movies['source']

0       Based on Fiction Book/Short Story
1                             Based on TV
2           Based on Factual Book/Article
3                                     NaN
4            Based on Comic/Graphic Novel
                      ...
9523                  Original Screenplay
9524                  Based on Short Film
9525                  Original Screenplay
9526    Based on Fiction Book/Short Story
9527                  Original Screenplay
Name: source, Length: 9526, dtype: category
Categories (23, object): ['Based on Ballet', 'Based on Comic/Graphic Novel', 'Based on Factual Book/Article', 'Based on Fiction Book/Short Story', ..., 'Compilation', 'Original Screenplay', 'Remake', 'Spin-Off']

### Cleaning `genre`

In [406]:
# There seem to be two genre columns. Checking if genre_details == genre
_genre_check = movies['genre_details'] == movies['genre']
movies.loc[~_genre_check, 'genre'].unique()

array([nan], dtype=object)

In [407]:
#Seems that they are identical, hence we can drop one of them
movies = movies.drop(columns='genre_details')

In [408]:
movies['genre'].unique()

array(['Thriller/Suspense', 'Adventure', 'Drama', 'Action',
       'Romantic Comedy', 'Horror', nan, 'Comedy', 'Musical',
       'Black Comedy', 'Documentary', 'Multiple Genres',
       'Concert/Performance', 'Western', 'Reality', 'Educational'],
      dtype=object)

In [409]:
# Looks clean, set categorical
set_categorical(movies, ['genre'])

### Cleaning `budget`

In [410]:
#Checking budget
movies['budget'].unique()

array([nan,
       '$23,000,000 (worldwide box office is 1.0 times production budget)',
       '$117,000,000 (worldwide box office is 6.0 times production budget)',
       ...,
       '$29,000,000 (worldwide box office is 1.8 times production budget)',
       '$26,000,000 (worldwide box office is 7.8 times production budget)',
       '$54,000,000 (worldwide box office is 1.2 times production budget)'],
      dtype=object)

In [411]:
#There seems to be additional relevant information. splitting into budget and prod_multiple
movies[['budget', 'prod_multiple']] = (movies['budget']
                                       .str.split(' ', 1, expand=True))
movies[['budget', 'prod_multiple']].head(10)

/var/folders/f4/mmfbs50954l08xffq4m0vf3m0000gn/T/ipykernel_59219/2479258636.py:2: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  movies[['budget', 'prod_multiple']] = (movies['budget']

        budget                                      prod_multiple
0          NaN                                                NaN
1          NaN                                                NaN
2          NaN                                                NaN
3          NaN                                                NaN
4          NaN                                                NaN
5          NaN                                                NaN
6          NaN                                                NaN
7          NaN                                                NaN
8  $23,000,000  (worldwide box office is 1.0 times production ...
9          NaN                                                NaN

In [412]:
# Finalizing cleaning budget
get_monetary_clean(movies, ['budget'])

### Cleaning `prod_multiple`

In [413]:
#investigating prod_multiple
movies['prod_multiple'].unique()

array([nan, '(worldwide box office is 1.0 times production budget)',
       '(worldwide box office is 6.0 times production budget)',
       '(worldwide box office is 7.7 times production budget)',
       '(worldwide box office is 0.3 times production budget)',
       '(worldwide box office is 2.6 times production budget)',
       '(worldwide box office is 5.0 times production budget)',
       '(worldwide box office is 1.4 times production budget)',
       '(worldwide box office is 3.6 times production budget)',
       '(worldwide box office is 3.0 times production budget)',
       '(worldwide box office is 3.4 times production budget)',
       '(worldwide box office is 3.1 times production budget)',
       '(worldwide box office is 1.5 times production budget)',
       '(worldwide box office is 0.1 times production budget)',
       '(worldwide box office is 2.0 times production budget)',
       '(worldwide box office is 4.9 times production budget)',
       '(worldwide box office is 0.8 times production budget)',
       '(worldwide box office is 1.8 times production budget)',
       '(worldwide box office is 4.3 times production budget)',
       '(worldwide box office is 1.9 times production budget)',
       '(worldwide box office is 0.4 times production budget)',
       '(worldwide box office is 1.1 times production budget)',
       '(worldwide box office is 0.9 times production budget)',
       '(worldwide box office is 1.3 times production budget)',
       '(worldwide box office is 5.8 times production budget)',
       '(worldwide box office is 0.2 times production budget)',
       '(worldwide box office is 2.9 times production budget)',
       '(worldwide box office is 2.4 times production budget)',
       '(worldwide box office is 4.6 times production budget)',
       '(worldwide box office is 6.5 times production budget)',
       '(worldwide box office is 0.5 times production budget)',
       '(worldwide box office is 1.2 times production budget)',
       '(worldwide box office is 2.7 times production budget)',
       '(worldwide box office is 1.7 times production budget)',
       '(worldwide box office is 4.8 times production budget)',
       '(worldwide box office is 0.7 times production budget)',
       '(worldwide box office is 9.6 times production budget)',
       '(worldwide box office is 0.6 times production budget)',
       '(worldwide box office is 14.9 times production budget)',
       '(worldwide box office is 5.5 times production budget)',
       '(worldwide box office is 10.0 times production budget)',
       '(worldwide box office is 3.3 times production budget)',
       '(worldwide box office is 6.8 times production budget)',
       '(worldwide box office is 5.1 times production budget)',
       '(worldwide box office is 3.8 times production budget)',
       '(worldwide box office is 9.7 times production budget)',
       '(worldwide box office is 20.3 times production budget)',
       '(worldwide box office is 3.5 times production budget)',
       '(worldwide box office is 3.7 times production budget)',
       '(worldwide box office is 7.1 times production budget)',
       '(worldwide box office is 6.3 times production budget)',
       '(worldwide box office is 9.2 times production budget)',
       '(worldwide box office is 2.1 times production budget)',
       '(worldwide box office is 7.3 times production budget)',
       '(worldwide box office is 7.2 times production budget)',
       '(worldwide box office is 10.5 times production budget)',
       '(worldwide box office is 4.5 times production budget)',
       '(worldwide box office is 5.2 times production budget)',
       '(worldwide box office is 2.3 times production budget)',
       '(worldwide box office is 2.2 times production budget)',
       '(worldwide box office is 4.2 times production budget)',
       '(worldwide box office is 5.6 times production budget)',
       '(worldwide box office is 2.5 times production budget)',
       '(worldwide box office is 89.6 times production budget)',
       '(worldwide box office is 2.8 times production budget)',
       '(worldwide box office is 8.4 times production budget)',
       '(worldwide box office is 13.3 times production budget)',
       '(worldwide box office is 4.7 times production budget)',
       '(worldwide box office is 7.9 times production budget)',
       '(worldwide box office is 4.0 times production budget)',
       '(worldwide box office is 9.9 times production budget)',
       '(worldwide box office is 3.9 times production budget)',
       '(worldwide box office is 5.4 times production budget)',
       '(worldwide box office is 1.6 times production budget)',
       '(worldwide box office is 431.5 times production budget)',
       '(worldwide box office is 6.9 times production budget)',
       '(worldwide box office is 13.8 times production budget)',
       '(worldwide box office is 8.7 times production budget)',
       '(worldwide box office is 6.7 times production budget)',
       '(worldwide box office is 12.3 times production budget)',
       '(worldwide box office is 8.3 times production budget)',
       '(worldwide box office is 13.4 times production budget)',
       '(worldwide box office is 11.6 times production budget)',
       '(worldwide box office is 4.1 times production budget)',
       '(worldwide box office is 14.3 times production budget)',
       '(worldwide box office is 8.9 times production budget)',
       '(worldwide box office is 5.7 times production budget)',
       '(worldwide box office is 6.4 times production budget)',
       '(worldwide box office is 8.0 times production budget)',
       '(worldwide box office is 5.3 times production budget)',
       '(worldwide box office is 64.4 times production budget)',
       '(worldwide box office is 12.0 times production budget)',
       '(worldwide box office is 7.8 times production budget)',
       '(worldwide box office is 15.6 times production budget)',
       '(worldwide box office is 3.2 times production budget)',
       '(worldwide box office is 8.5 times production budget)',
       '(worldwide box office is 416.6 times production budget)',
       '(worldwide box office is 9.4 times production budget)',
       '(worldwide box office is 11.8 times production budget)',
       '(worldwide box office is 8.6 times production budget)',
       '(worldwide box office is 24.7 times production budget)',
       '(worldwide box office is 19.7 times production budget)',
       '(worldwide box office is 5.9 times production budget)',
       '(worldwide box office is 12.9 times production budget)',
       '(worldwide box office is 6.1 times production budget)',
       '(worldwide box office is 7.0 times production budget)',
       '(worldwide box office is 4.4 times production budget)',
       '(worldwide box office is 16.8 times production budget)',
       '(worldwide box office is 21.0 times production budget)',
       '(worldwide box office is 13.1 times production budget)',
       '(worldwide box office is 7.6 times production budget)',
       '(worldwide box office is 19.6 times production budget)',
       '(worldwide box office is 413.8 times production budget)',
       '(worldwide box office is 23.8 times production budget)',
       '(worldwide box office is 10.4 times production budget)',
       '(worldwide box office is 7.5 times production budget)',
       '(worldwide box office is 10.9 times production budget)',
       '(worldwide box office is 64.6 times production budget)',
       '(worldwide box office is 6.6 times production budget)',
       '(worldwide box office is 47.2 times production budget)',
       '(worldwide box office is 216.2 times production budget)',
       '(worldwide box office is 90.9 times production budget)',
       '(worldwide box office is 28.6 times production budget)',
       '(worldwide box office is 19.5 times production budget)',
       '(worldwide box office is 108.6 times production budget)',
       '(worldwide box office is 23.9 times production budget)',
       '(worldwide box office is 10.6 times production budget)',
       '(worldwide box office is 8.8 times production budget)',
       '(worldwide box office is 8.1 times production budget)',
       '(worldwide box office is 9.1 times production budget)',
       '(worldwide box office is 39.0 times production budget)',
       '(worldwide box office is 9.5 times production budget)',
       '(worldwide box office is 10.7 times production budget)',
       '(worldwide box office is 59.2 times production budget)',
       '(worldwide box office is 11.3 times production budget)',
       '(worldwide box office is 28.7 times production budget)',
       '(worldwide box office is 25.5 times production budget)',
       '(worldwide box office is 16.6 times production budget)',
       '(worldwide box office is 39.5 times production budget)',
       '(worldwide box office is 17.0 times production budget)',
       '(worldwide box office is 41.6 times production budget)',
       '(worldwide box office is 19.9 times production budget)',
       '(worldwide box office is 32.2 times production budget)',
       '(worldwide box office is 0.0 times production budget)',
       '(worldwide box office is 9.8 times production budget)',
       '(worldwide box office is 18.0 times production budget)',
       '(worldwide box office is 12.7 times production budget)',
       '(worldwide box office is 11.9 times production budget)',
       '(worldwide box office is 13.9 times production budget)',
       '(worldwide box office is 11.4 times production budget)',
       '(worldwide box office is 12.2 times production budget)',
       '(worldwide box office is 14.2 times production budget)',
       '(worldwide box office is 21.1 times production budget)',
       '(worldwide box office is 20.2 times production budget)',
       '(worldwide box office is 13.7 times production budget)',
       '(worldwide box office is 16.2 times production budget)',
       '(worldwide box office is 6.2 times production budget)',
       '(worldwide box office is 15.5 times production budget)',
       '(worldwide box office is 66.9 times production budget)',
       '(worldwide box office is 24.9 times production budget)',
       '(worldwide box office is 27.4 times production budget)',
       '(worldwide box office is 11.0 times production budget)',
       '(worldwide box office is 18.2 times production budget)',
       '(worldwide box office is 55.5 times production budget)',
       '(worldwide box office is 15.1 times production budget)',
       '(worldwide box office is 25.6 times production budget)',
       '(worldwide box office is 12.4 times production budget)',
       '(worldwide box office is 10.2 times production budget)',
       '(worldwide box office is 20.7 times production budget)',
       '(worldwide box office is 8.2 times production budget)',
       '(worldwide box office is 15.2 times production budget)',
       '(worldwide box office is 35.9 times production budget)',
       '(worldwide box office is 61.2 times production budget)',
       '(worldwide box office is 11.5 times production budget)',
       '(worldwide box office is 18.4 times production budget)',
       '(worldwide box office is 10.8 times production budget)',
       '(worldwide box office is 498.8 times production budget)',
       '(worldwide box office is 36.7 times production budget)',
       '(worldwide box office is 17.3 times production budget)',
       '(worldwide box office is 14.0 times production budget)',
       '(worldwide box office is 124.3 times production budget)',
       '(worldwide box office is 17.4 times production budget)',
       '(worldwide box office is 95.6 times production budget)',
       '(worldwide box office is 9.3 times production budget)',
       '(worldwide box office is 66.6 times production budget)',
       '(worldwide box office is 10.3 times production budget)',
       '(worldwide box office is 17.8 times production budget)',
       '(worldwide box office is 41.4 times production budget)',
       '(worldwide box office is 30.5 times production budget)',
       '(worldwide box office is 34.9 times production budget)',
       '(worldwide box office is 15.7 times production budget)',
       '(worldwide box office is 13.5 times production budget)',
       '(worldwide box office is 9.0 times production budget)',
       '(worldwide box office is 52.3 times production budget)',
       '(worldwide box office is 14.6 times production budget)',
       '(worldwide box office is 22.9 times production budget)',
       '(worldwide box office is 11.2 times production budget)',
       '(worldwide box office is 11.1 times production budget)',
       '(worldwide box office is 31.0 times production budget)',
       '(worldwide box office is 50.5 times production budget)',
       '(worldwide box office is 20.4 times production budget)',
       '(worldwide box office is 60.6 times production budget)',
       '(worldwide box office is 20.0 times production budget)',
       '(worldwide box office is 25.0 times production budget)',
       '(worldwide box office is 59.6 times production budget)',
       '(worldwide box office is 37.6 times production budget)',
       '(worldwide box office is 75.9 times production budget)',
       '(worldwide box office is 21.6 times production budget)',
       '(worldwide box office is 16.3 times production budget)',
       '(worldwide box office is 101.8 times production budget)',
       '(worldwide box office is 44.9 times production budget)',
       '(worldwide box office is 42.4 times production budget)',
       '(worldwide box office is 24.4 times production budget)',
       '(worldwide box office is 29.2 times production budget)',
       '(worldwide box office is 11.7 times production budget)',
       '(worldwide box office is 10.1 times production budget)',
       '(worldwide box office is 12.8 times production budget)',
       '(worldwide box office is 61.5 times production budget)',
       '(worldwide box office is 40.8 times production budget)',
       '(worldwide box office is 37.3 times production budget)',
       '(worldwide box office is 23.0 times production budget)',
       '(worldwide box office is 14.7 times production budget)',
       '(worldwide box office is 29.8 times production budget)',
       '(worldwide box office is 7.4 times production budget)',
       '(worldwide box office is 15.9 times production budget)',
       '(worldwide box office is 43.3 times production budget)',
       '(worldwide box office is 21.8 times production budget)',
       '(worldwide box office is 32.1 times production budget)',
       '(worldwide box office is 21.9 times production budget)',
       '(worldwide box office is 36.2 times production budget)',
       '(worldwide box office is 18.5 times production budget)',
       '(worldwide box office is 78.4 times production budget)',
       '(worldwide box office is 28.8 times production budget)',
       '(worldwide box office is 14.8 times production budget)',
       '(worldwide box office is 24.0 times production budget)',
       '(worldwide box office is 30.4 times production budget)',
       '(worldwide box office is 15.8 times production budget)',
       '(worldwide box office is 26.9 times production budget)',
       '(worldwide box office is 20.1 times production budget)',
       '(worldwide box office is 32.4 times production budget)',
       '(worldwide box office is 12.1 times production budget)',
       '(worldwide box office is 17.1 times production budget)',
       '(worldwide box office is 53.4 times production budget)',
       '(worldwide box office is 12.6 times production budget)',
       '(worldwide box office is 102.4 times production budget)',
       '(worldwide box office is 16.4 times production budget)',
       '(worldwide box office is 14.5 times production budget)',
       '(worldwide box office is 38.6 times production budget)',
       '(worldwide box office is 1,800.0 times production budget)',
       '(worldwide box office is 23.1 times production budget)',
       '(worldwide box office is 14.1 times production budget)',
       '(worldwide box office is 33.1 times production budget)',
       '(worldwide box office is 29.3 times production budget)',
       '(worldwide box office is 18.9 times production budget)',
       '(worldwide box office is 26.0 times production budget)',
       '(worldwide box office is 71.0 times production budget)',
       '(worldwide box office is 34.0 times production budget)',
       '(worldwide box office is 70.5 times production budget)',
       '(worldwide box office is 13.2 times production budget)',
       '(worldwide box office is 33.3 times production budget)',
       '(worldwide box office is 100.1 times production budget)',
       '(worldwide box office is 89.8 times production budget)',
       '(worldwide box office is 17.7 times production budget)',
       '(worldwide box office is 40.6 times production budget)',
       '(worldwide box office is 154.3 times production budget)',
       '(worldwide box office is 13.6 times production budget)',
       '(worldwide box office is 19.8 times production budget)',
       '(worldwide box office is 100.0 times production budget)',
       '(worldwide box office is 180.2 times production budget)',
       '(worldwide box office is 29.0 times production budget)',
       '(worldwide box office is 35.7 times production budget)',
       '(worldwide box office is 74.6 times production budget)',
       '(worldwide box office is 22.6 times production budget)',
       '(worldwide box office is 19.3 times production budget)',
       '(worldwide box office is 22.5 times production budget)',
       '(worldwide box office is 75.0 times production budget)',
       '(worldwide box office is 19.4 times production budget)',
       '(worldwide box office is 39.6 times production budget)',
       '(worldwide box office is 15.0 times production budget)',
       '(worldwide box office is 14.4 times production budget)',
       '(worldwide box office is 225.0 times production budget)',
       '(worldwide box office is 312.4 times production budget)',
       '(worldwide box office is 59.7 times production budget)',
       '(worldwide box office is 17.9 times production budget)',
       '(worldwide box office is 40.0 times production budget)',
       '(worldwide box office is 342.1 times production budget)',
       '(worldwide box office is 115.3 times production budget)',
       '(worldwide box office is 36.9 times production budget)',
       '(worldwide box office is 111.0 times production budget)',
       '(worldwide box office is 18.7 times production budget)',
       '(worldwide box office is 86.6 times production budget)',
       '(worldwide box office is 16.5 times production budget)',
       '(worldwide box office is 23.3 times production budget)',
       '(worldwide box office is 57.8 times production budget)',
       '(worldwide box office is 54.0 times production budget)',
       '(worldwide box office is 26.6 times production budget)',
       '(worldwide box office is 15.4 times production budget)',
       '(worldwide box office is 27.2 times production budget)',
       '(worldwide box office is 86.0 times production budget)',
       '(worldwide box office is 16.0 times production budget)',
       '(worldwide box office is 22.8 times production budget)',
       '(worldwide box office is 24.8 times production budget)',
       '(worldwide box office is 40.2 times production budget)',
       '(worldwide box office is 37.1 times production budget)',
       '(worldwide box office is 125.0 times production budget)',
       '(worldwide box office is 18.8 times production budget)',
       '(worldwide box office is 39.2 times production budget)',
       '(worldwide box office is 30.6 times production budget)',
       '(worldwide box office is 26.4 times production budget)',

In [414]:
#Cleaning up prod multiple. 
movies['prod_multiple'] = (movies['prod_multiple']
                           .str.replace('(worldwide box office is ', '', regex=False)
                           .str.replace(' times production budget)', '', regex=False)
                           .str.replace(',', '', regex=False)
                           .astype('float'))

movies['prod_multiple'].unique()

array([      nan, 1.000e+00, 6.000e+00, 7.700e+00, 3.000e-01, 2.600e+00,
       5.000e+00, 1.400e+00, 3.600e+00, 3.000e+00, 3.400e+00, 3.100e+00,
       1.500e+00, 1.000e-01, 2.000e+00, 4.900e+00, 8.000e-01, 1.800e+00,
       4.300e+00, 1.900e+00, 4.000e-01, 1.100e+00, 9.000e-01, 1.300e+00,
       5.800e+00, 2.000e-01, 2.900e+00, 2.400e+00, 4.600e+00, 6.500e+00,
       5.000e-01, 1.200e+00, 2.700e+00, 1.700e+00, 4.800e+00, 7.000e-01,
       9.600e+00, 6.000e-01, 1.490e+01, 5.500e+00, 1.000e+01, 3.300e+00,
       6.800e+00, 5.100e+00, 3.800e+00, 9.700e+00, 2.030e+01, 3.500e+00,
       3.700e+00, 7.100e+00, 6.300e+00, 9.200e+00, 2.100e+00, 7.300e+00,
       7.200e+00, 1.050e+01, 4.500e+00, 5.200e+00, 2.300e+00, 2.200e+00,
       4.200e+00, 5.600e+00, 2.500e+00, 8.960e+01, 2.800e+00, 8.400e+00,
       1.330e+01, 4.700e+00, 7.900e+00, 4.000e+00, 9.900e+00, 3.900e+00,
       5.400e+00, 1.600e+00, 4.315e+02, 6.900e+00, 1.380e+01, 8.700e+00,
       6.700e+00, 1.230e+01, 8.300e+00, 1.340e+01, 1.160e+01, 4.100e+00,
       1.430e+01, 8.900e+00, 5.700e+00, 6.400e+00, 8.000e+00, 5.300e+00,
       6.440e+01, 1.200e+01, 7.800e+00, 1.560e+01, 3.200e+00, 8.500e+00,
       4.166e+02, 9.400e+00, 1.180e+01, 8.600e+00, 2.470e+01, 1.970e+01,
       5.900e+00, 1.290e+01, 6.100e+00, 7.000e+00, 4.400e+00, 1.680e+01,
       2.100e+01, 1.310e+01, 7.600e+00, 1.960e+01, 4.138e+02, 2.380e+01,
       1.040e+01, 7.500e+00, 1.090e+01, 6.460e+01, 6.600e+00, 4.720e+01,
       2.162e+02, 9.090e+01, 2.860e+01, 1.950e+01, 1.086e+02, 2.390e+01,
       1.060e+01, 8.800e+00, 8.100e+00, 9.100e+00, 3.900e+01, 9.500e+00,
       1.070e+01, 5.920e+01, 1.130e+01, 2.870e+01, 2.550e+01, 1.660e+01,
       3.950e+01, 1.700e+01, 4.160e+01, 1.990e+01, 3.220e+01, 0.000e+00,
       9.800e+00, 1.800e+01, 1.270e+01, 1.190e+01, 1.390e+01, 1.140e+01,
       1.220e+01, 1.420e+01, 2.110e+01, 2.020e+01, 1.370e+01, 1.620e+01,
       6.200e+00, 1.550e+01, 6.690e+01, 2.490e+01, 2.740e+01, 1.100e+01,
       1.820e+01, 5.550e+01, 1.510e+01, 2.560e+01, 1.240e+01, 1.020e+01,
       2.070e+01, 8.200e+00, 1.520e+01, 3.590e+01, 6.120e+01, 1.150e+01,
       1.840e+01, 1.080e+01, 4.988e+02, 3.670e+01, 1.730e+01, 1.400e+01,
       1.243e+02, 1.740e+01, 9.560e+01, 9.300e+00, 6.660e+01, 1.030e+01,
       1.780e+01, 4.140e+01, 3.050e+01, 3.490e+01, 1.570e+01, 1.350e+01,
       9.000e+00, 5.230e+01, 1.460e+01, 2.290e+01, 1.120e+01, 1.110e+01,
       3.100e+01, 5.050e+01, 2.040e+01, 6.060e+01, 2.000e+01, 2.500e+01,
       5.960e+01, 3.760e+01, 7.590e+01, 2.160e+01, 1.630e+01, 1.018e+02,
       4.490e+01, 4.240e+01, 2.440e+01, 2.920e+01, 1.170e+01, 1.010e+01,
       1.280e+01, 6.150e+01, 4.080e+01, 3.730e+01, 2.300e+01, 1.470e+01,
       2.980e+01, 7.400e+00, 1.590e+01, 4.330e+01, 2.180e+01, 3.210e+01,
       2.190e+01, 3.620e+01, 1.850e+01, 7.840e+01, 2.880e+01, 1.480e+01,
       2.400e+01, 3.040e+01, 1.580e+01, 2.690e+01, 2.010e+01, 3.240e+01,
       1.210e+01, 1.710e+01, 5.340e+01, 1.260e+01, 1.024e+02, 1.640e+01,
       1.450e+01, 3.860e+01, 1.800e+03, 2.310e+01, 1.410e+01, 3.310e+01,
       2.930e+01, 1.890e+01, 2.600e+01, 7.100e+01, 3.400e+01, 7.050e+01,
       1.320e+01, 3.330e+01, 1.001e+02, 8.980e+01, 1.770e+01, 4.060e+01,
       1.543e+02, 1.360e+01, 1.980e+01, 1.000e+02, 1.802e+02, 2.900e+01,
       3.570e+01, 7.460e+01, 2.260e+01, 1.930e+01, 2.250e+01, 7.500e+01,
       1.940e+01, 3.960e+01, 1.500e+01, 1.440e+01, 2.250e+02, 3.124e+02,
       5.970e+01, 1.790e+01, 4.000e+01, 3.421e+02, 1.153e+02, 3.690e+01,
       1.110e+02, 1.870e+01, 8.660e+01, 1.650e+01, 2.330e+01, 5.780e+01,
       5.400e+01, 2.660e+01, 1.540e+01, 2.720e+01, 8.600e+01, 1.600e+01,
       2.280e+01, 2.480e+01, 4.020e+01, 3.710e+01, 1.250e+02, 1.880e+01,
       3.920e+01, 3.060e+01, 2.640e+01, 4.790e+01, 1.225e+02, 1.013e+02,
       1.610e+01, 2.085e+02, 1.250e+01, 2.150e+01, 4.600e+01, 1.898e+02,
       6.310e+01, 3.080e+01, 2.639e+02, 3.680e+01, 3.650e+01, 3.090e+01,
       2.350e+01, 2.230e+01, 3.180e+01])

### Cleaning `dom_pct`

In [415]:
# Investigating dom_pct
movies['dom_pct'].unique()

array(['2.1% (domestic box office/worldwide)', nan,
       '65.3% (domestic box office/worldwide)',
       '34.3% (domestic box office/worldwide)',
       '51.6% (domestic box office/worldwide)',
       '9.6% (domestic box office/worldwide)',
       '49.1% (domestic box office/worldwide)',
       '77.7% (domestic box office/worldwide)',
       '11.4% (domestic box office/worldwide)',
       '35.2% (domestic box office/worldwide)',
       '47.1% (domestic box office/worldwide)',
       '32.8% (domestic box office/worldwide)',
       '41.9% (domestic box office/worldwide)',
       '0.9% (domestic box office/worldwide)',
       '31.7% (domestic box office/worldwide)',
       '47.9% (domestic box office/worldwide)',
       '21.6% (domestic box office/worldwide)',
       '26.8% (domestic box office/worldwide)',
       '50.4% (domestic box office/worldwide)',
       '50.7% (domestic box office/worldwide)',
       '76.2% (domestic box office/worldwide)',
       '26.4% (domestic box office/worldwide)',
       '42.1% (domestic box office/worldwide)',
       '58.7% (domestic box office/worldwide)',
       '24.0% (domestic box office/worldwide)',
       '44.6% (domestic box office/worldwide)',
       '38.1% (domestic box office/worldwide)',
       '54.0% (domestic box office/worldwide)',
       '68.7% (domestic box office/worldwide)',
       '65.9% (domestic box office/worldwide)',
       '56.4% (domestic box office/worldwide)',
       '93.7% (domestic box office/worldwide)',
       '39.2% (domestic box office/worldwide)',
       '47.3% (domestic box office/worldwide)',
       '57.9% (domestic box office/worldwide)',
       '48.4% (domestic box office/worldwide)',
       '49.0% (domestic box office/worldwide)',
       '29.1% (domestic box office/worldwide)',
       '82.2% (domestic box office/worldwide)',
       '97.5% (domestic box office/worldwide)',
       '6.4% (domestic box office/worldwide)',
       '53.7% (domestic box office/worldwide)',
       '81.5% (domestic box office/worldwide)',
       '55.6% (domestic box office/worldwide)',
       '1.1% (domestic box office/worldwide)',
       '33.4% (domestic box office/worldwide)',
       '83.9% (domestic box office/worldwide)',
       '85.8% (domestic box office/worldwide)',
       '0.2% (domestic box office/worldwide)',
       '23.9% (domestic box office/worldwide)',
       '79.1% (domestic box office/worldwide)',
       '37.6% (domestic box office/worldwide)',
       '26.5% (domestic box office/worldwide)',
       '69.1% (domestic box office/worldwide)',
       '73.8% (domestic box office/worldwide)',
       '36.8% (domestic box office/worldwide)',
       '25.2% (domestic box office/worldwide)',
       '90.2% (domestic box office/worldwide)',
       '11.1% (domestic box office/worldwide)',
       '52.0% (domestic box office/worldwide)',
       '39.4% (domestic box office/worldwide)',
       '81.3% (domestic box office/worldwide)',
       '27.7% (domestic box office/worldwide)',
       '70.1% (domestic box office/worldwide)',
       '85.7% (domestic box office/worldwide)',
       '64.7% (domestic box office/worldwide)',
       '0.0% (domestic box office/worldwide)',
       '21.2% (domestic box office/worldwide)',
       '42.6% (domestic box office/worldwide)',
       '20.5% (domestic box office/worldwide)',
       '36.1% (domestic box office/worldwide)',
       '39.5% (domestic box office/worldwide)',
       '38.6% (domestic box office/worldwide)',
       '70.3% (domestic box office/worldwide)',
       '10.2% (domestic box office/worldwide)',
       '35.7% (domestic box office/worldwide)',
       '29.8% (domestic box office/worldwide)',
       '44.3% (domestic box office/worldwide)',
       '41.0% (domestic box office/worldwide)',
       '42.8% (domestic box office/worldwide)',
       '62.4% (domestic box office/worldwide)',
       '2.9% (domestic box office/worldwide)',
       '18.7% (domestic box office/worldwide)',
       '63.5% (domestic box office/worldwide)',
       '39.8% (domestic box office/worldwide)',
       '41.6% (domestic box office/worldwide)',
       '36.5% (domestic box office/worldwide)',
       '40.6% (domestic box office/worldwide)',
       '52.6% (domestic box office/worldwide)',
       '100.0% (domestic box office/worldwide)',
       '40.2% (domestic box office/worldwide)',
       '0.1% (domestic box office/worldwide)',
       '51.5% (domestic box office/worldwide)',
       '25.4% (domestic box office/worldwide)',
       '30.2% (domestic box office/worldwide)',
       '30.7% (domestic box office/worldwide)',
       '17.3% (domestic box office/worldwide)',
       '97.9% (domestic box office/worldwide)',
       '99.9% (domestic box office/worldwide)',
       '89.1% (domestic box office/worldwide)',
       '50.1% (domestic box office/worldwide)',
       '33.0% (domestic box office/worldwide)',
       '98.7% (domestic box office/worldwide)',
       '17.1% (domestic box office/worldwide)',
       '55.1% (domestic box office/worldwide)',
       '30.6% (domestic box office/worldwide)',
       '51.0% (domestic box office/worldwide)',
       '98.5% (domestic box office/worldwide)',
       '54.6% (domestic box office/worldwide)',
       '54.1% (domestic box office/worldwide)',
       '59.8% (domestic box office/worldwide)',
       '81.9% (domestic box office/worldwide)',
       '78.7% (domestic box office/worldwide)',
       '26.0% (domestic box office/worldwide)',
       '49.7% (domestic box office/worldwide)',
       '11.0% (domestic box office/worldwide)',
       '55.9% (domestic box office/worldwide)',
       '66.8% (domestic box office/worldwide)',
       '59.7% (domestic box office/worldwide)',
       '64.0% (domestic box office/worldwide)',
       '51.9% (domestic box office/worldwide)',
       '51.3% (domestic box office/worldwide)',
       '4.9% (domestic box office/worldwide)',
       '4.2% (domestic box office/worldwide)',
       '19.3% (domestic box office/worldwide)',
       '77.6% (domestic box office/worldwide)',
       '1.0% (domestic box office/worldwide)',
       '92.6% (domestic box office/worldwide)',
       '96.7% (domestic box office/worldwide)',
       '63.0% (domestic box office/worldwide)',
       '57.5% (domestic box office/worldwide)',
       '70.4% (domestic box office/worldwide)',
       '96.4% (domestic box office/worldwide)',
       '63.9% (domestic box office/worldwide)',
       '69.6% (domestic box office/worldwide)',
       '50.0% (domestic box office/worldwide)',
       '78.0% (domestic box office/worldwide)',
       '42.9% (domestic box office/worldwide)',
       '70.7% (domestic box office/worldwide)',
       '43.2% (domestic box office/worldwide)',
       '91.4% (domestic box office/worldwide)',
       '7.3% (domestic box office/worldwide)',
       '2.4% (domestic box office/worldwide)',
       '16.6% (domestic box office/worldwide)',
       '47.0% (domestic box office/worldwide)',
       '88.4% (domestic box office/worldwide)',
       '46.0% (domestic box office/worldwide)',
       '8.1% (domestic box office/worldwide)',
       '41.7% (domestic box office/worldwide)',
       '27.4% (domestic box office/worldwide)',
       '3.7% (domestic box office/worldwide)',
       '92.3% (domestic box office/worldwide)',
       '82.7% (domestic box office/worldwide)',
       '25.8% (domestic box office/worldwide)',
       '53.9% (domestic box office/worldwide)',
       '48.0% (domestic box office/worldwide)',
       '98.6% (domestic box office/worldwide)',
       '15.2% (domestic box office/worldwide)',
       '66.6% (domestic box office/worldwide)',
       '27.2% (domestic box office/worldwide)',
       '63.8% (domestic box office/worldwide)',
       '0.5% (domestic box office/worldwide)',
       '23.7% (domestic box office/worldwide)',
       '38.4% (domestic box office/worldwide)',
       '80.0% (domestic box office/worldwide)',
       '12.9% (domestic box office/worldwide)',
       '44.1% (domestic box office/worldwide)',
       '3.1% (domestic box office/worldwide)',
       '40.1% (domestic box office/worldwide)',
       '46.1% (domestic box office/worldwide)',
       '11.7% (domestic box office/worldwide)',
       '93.5% (domestic box office/worldwide)',
       '59.6% (domestic box office/worldwide)',
       '71.1% (domestic box office/worldwide)',
       '42.4% (domestic box office/worldwide)',
       '93.4% (domestic box office/worldwide)',
       '72.3% (domestic box office/worldwide)',
       '46.9% (domestic box office/worldwide)',
       '43.0% (domestic box office/worldwide)',
       '52.1% (domestic box office/worldwide)',
       '15.1% (domestic box office/worldwide)',
       '75.2% (domestic box office/worldwide)',
       '48.1% (domestic box office/worldwide)',
       '34.1% (domestic box office/worldwide)',
       '50.9% (domestic box office/worldwide)',
       '22.2% (domestic box office/worldwide)',
       '45.7% (domestic box office/worldwide)',
       '10.0% (domestic box office/worldwide)',
       '6.0% (domestic box office/worldwide)',
       '4.5% (domestic box office/worldwide)',
       '43.3% (domestic box office/worldwide)',
       '90.3% (domestic box office/worldwide)',
       '32.5% (domestic box office/worldwide)',
       '93.9% (domestic box office/worldwide)',
       '40.8% (domestic box office/worldwide)',
       '52.8% (domestic box office/worldwide)',
       '42.3% (domestic box office/worldwide)',
       '73.6% (domestic box office/worldwide)',
       '72.1% (domestic box office/worldwide)',
       '10.3% (domestic box office/worldwide)',
       '6.6% (domestic box office/worldwide)',
       '71.6% (domestic box office/worldwide)',
       '68.0% (domestic box office/worldwide)',
       '54.4% (domestic box office/worldwide)',
       '7.4% (domestic box office/worldwide)',
       '98.9% (domestic box office/worldwide)',
       '17.7% (domestic box office/worldwide)',
       '62.0% (domestic box office/worldwide)',
       '97.2% (domestic box office/worldwide)',
       '70.0% (domestic box office/worldwide)',
       '74.1% (domestic box office/worldwide)',
       '35.5% (domestic box office/worldwide)',
       '86.7% (domestic box office/worldwide)',
       '84.4% (domestic box office/worldwide)',
       '1.8% (domestic box office/worldwide)',
       '99.8% (domestic box office/worldwide)',
       '48.9% (domestic box office/worldwide)',
       '65.4% (domestic box office/worldwide)',
       '44.8% (domestic box office/worldwide)',
       '52.7% (domestic box office/worldwide)',
       '5.6% (domestic box office/worldwide)',
       '79.8% (domestic box office/worldwide)',
       '63.6% (domestic box office/worldwide)',
       '2.5% (domestic box office/worldwide)',
       '75.1% (domestic box office/worldwide)',
       '12.0% (domestic box office/worldwide)',
       '28.0% (domestic box office/worldwide)',
       '60.7% (domestic box office/worldwide)',
       '32.2% (domestic box office/worldwide)',
       '3.5% (domestic box office/worldwide)',
       '30.4% (domestic box office/worldwide)',
       '85.6% (domestic box office/worldwide)',
       '9.3% (domestic box office/worldwide)',
       '69.2% (domestic box office/worldwide)',
       '73.9% (domestic box office/worldwide)',
       '63.3% (domestic box office/worldwide)',
       '1.5% (domestic box office/worldwide)',
       '4.0% (domestic box office/worldwide)',
       '16.3% (domestic box office/worldwide)',
       '99.4% (domestic box office/worldwide)',
       '77.9% (domestic box office/worldwide)',
       '45.2% (domestic box office/worldwide)',
       '1.4% (domestic box office/worldwide)',
       '39.7% (domestic box office/worldwide)',
       '35.3% (domestic box office/worldwide)',
       '28.6% (domestic box office/worldwide)',
       '96.6% (domestic box office/worldwide)',
       '4.7% (domestic box office/worldwide)',
       '43.8% (domestic box office/worldwide)',
       '43.7% (domestic box office/worldwide)',
       '53.0% (domestic box office/worldwide)',
       '48.2% (domestic box office/worldwide)',
       '21.9% (domestic box office/worldwide)',
       '21.4% (domestic box office/worldwide)',
       '43.1% (domestic box office/worldwide)',
       '38.8% (domestic box office/worldwide)',
       '13.7% (domestic box office/worldwide)',
       '83.7% (domestic box office/worldwide)',
       '9.5% (domestic box office/worldwide)',
       '38.7% (domestic box office/worldwide)',
       '7.9% (domestic box office/worldwide)',
       '61.3% (domestic box office/worldwide)',
       '38.5% (domestic box office/worldwide)',
       '27.8% (domestic box office/worldwide)',
       '67.6% (domestic box office/worldwide)',
       '63.4% (domestic box office/worldwide)',
       '2.0% (domestic box office/worldwide)',
       '50.2% (domestic box office/worldwide)',
       '30.1% (domestic box office/worldwide)',
       '46.5% (domestic box office/worldwide)',
       '32.6% (domestic box office/worldwide)',
       '83.2% (domestic box office/worldwide)',
       '26.9% (domestic box office/worldwide)',
       '34.5% (domestic box office/worldwide)',
       '9.4% (domestic box office/worldwide)',
       '49.5% (domestic box office/worldwide)',
       '12.8% (domestic box office/worldwide)',
       '11.9% (domestic box office/worldwide)',
       '8.6% (domestic box office/worldwide)',
       '99.7% (domestic box office/worldwide)',
       '58.9% (domestic box office/worldwide)',
       '78.1% (domestic box office/worldwide)',
       '0.4% (domestic box office/worldwide)',
       '40.7% (domestic box office/worldwide)',
       '31.3% (domestic box office/worldwide)',
       '80.4% (domestic box office/worldwide)',
       '66.4% (domestic box office/worldwide)',
       '25.3% (domestic box office/worldwide)',
       '67.4% (domestic box office/worldwide)',
       '90.5% (domestic box office/worldwide)',
       '52.4% (domestic box office/worldwide)',
       '98.2% (domestic box office/worldwide)',
       '67.9% (domestic box office/worldwide)',
       '0.3% (domestic box office/worldwide)',
       '63.2% (domestic box office/worldwide)',
       '26.1% (domestic box office/worldwide)',
       '19.0% (domestic box office/worldwide)',
       '43.6% (domestic box office/worldwide)',
       '78.2% (domestic box office/worldwide)',
       '3.9% (domestic box office/worldwide)',
       '96.0% (domestic box office/worldwide)',
       '97.3% (domestic box office/worldwide)',
       '32.0% (domestic box office/worldwide)',
       '67.3% (domestic box office/worldwide)',
       '37.0% (domestic box office/worldwide)',
       '77.3% (domestic box office/worldwide)',
       '37.1% (domestic box office/worldwide)',
       '5.5% (domestic box office/worldwide)',
       '60.8% (domestic box office/worldwide)',
       '88.8% (domestic box office/worldwide)',
       '80.9% (domestic box office/worldwide)',
       '23.3% (domestic box office/worldwide)',
       '56.9% (domestic box office/worldwide)',
       '66.2% (domestic box office/worldwide)',
       '61.8% (domestic box office/worldwide)',
       '0.7% (domestic box office/worldwide)',
       '15.3% (domestic box office/worldwide)',
       '2.8% (domestic box office/worldwide)',
       '95.8% (domestic box office/worldwide)',
       '80.1% (domestic box office/worldwide)',
       '32.9% (domestic box office/worldwide)',
       '1.9% (domestic box office/worldwide)',
       '41.2% (domestic box office/worldwide)',
       '64.2% (domestic box office/worldwide)',
       '68.2% (domestic box office/worldwide)',
       '42.0% (domestic box office/worldwide)',
       '49.6% (domestic box office/worldwide)',
       '47.4% (domestic box office/worldwide)',
       '11.3% (domestic box office/worldwide)',
       '82.9% (domestic box office/worldwide)',
       '34.0% (domestic box office/worldwide)',
       '69.7% (domestic box office/worldwide)',
       '43.4% (domestic box office/worldwide)',
       '84.0% (domestic box office/worldwide)',
       '39.1% (domestic box office/worldwide)',
       '18.3% (domestic box office/worldwide)',
       '72.9% (domestic box office/worldwide)',
       '3.0% (domestic box office/worldwide)',
       '29.0% (domestic box office/worldwide)',
       '96.2% (domestic box office/worldwide)',
       '58.6% (domestic box office/worldwide)',
       '20.8% (domestic box office/worldwide)',
       '97.7% (domestic box office/worldwide)',
       '37.5% (domestic box office/worldwide)',
       '0.6% (domestic box office/worldwide)',
       '0.8% (domestic box office/worldwide)',
       '53.4% (domestic box office/worldwide)',
       '35.4% (domestic box office/worldwide)',
       '56.2% (domestic box office/worldwide)',
       '37.4% (domestic box office/worldwide)',
       '34.7% (domestic box office/worldwide)',
       '6.7% (domestic box office/worldwide)',
       '32.3% (domestic box office/worldwide)',
       '13.9% (domestic box office/worldwide)',
       '55.7% (domestic box office/worldwide)',
       '1.3% (domestic box office/worldwide)',
       '28.3% (domestic box office/worldwide)',
       '57.6% (domestic box office/worldwide)',
       '74.2% (domestic box office/worldwide)',
       '65.2% (domestic box office/worldwide)',
       '79.5% (domestic box office/worldwide)',
       '79.7% (domestic box office/worldwide)',
       '19.6% (domestic box office/worldwide)',
       '47.7% (domestic box office/worldwide)',
       '27.3% (domestic box office/worldwide)',
       '34.8% (domestic box office/worldwide)',
       '37.9% (domestic box office/worldwide)',
       '93.8% (domestic box office/worldwide)',
       '3.2% (domestic box office/worldwide)',
       '63.7% (domestic box office/worldwide)',
       '91.6% (domestic box office/worldwide)',
       '23.0% (domestic box office/worldwide)',
       '3.6% (domestic box office/worldwide)',
       '26.3% (domestic box office/worldwide)',
       '94.6% (domestic box office/worldwide)',
       '66.1% (domestic box office/worldwide)',
       '4.4% (domestic box office/worldwide)',
       '8.5% (domestic box office/worldwide)',
       '14.2% (domestic box office/worldwide)',
       '23.2% (domestic box office/worldwide)',
       '34.9% (domestic box office/worldwide)',
       '16.5% (domestic box office/worldwide)',
       '61.6% (domestic box office/worldwide)',
       '22.8% (domestic box office/worldwide)',
       '49.9% (domestic box office/worldwide)',
       '44.5% (domestic box office/worldwide)',
       '41.5% (domestic box office/worldwide)',
       '40.4% (domestic box office/worldwide)',
       '20.9% (domestic box office/worldwide)',
       '23.5% (domestic box office/worldwide)',
       '6.1% (domestic box office/worldwide)',
       '23.8% (domestic box office/worldwide)',
       '8.3% (domestic box office/worldwide)',
       '61.7% (domestic box office/worldwide)',
       '59.1% (domestic box office/worldwide)',
       '59.4% (domestic box office/worldwide)',
       '9.1% (domestic box office/worldwide)',
       '61.9% (domestic box office/worldwide)',
       '43.5% (domestic box office/worldwide)',
       '36.9% (domestic box office/worldwide)',
       '13.5% (domestic box office/worldwide)',
       '18.6% (domestic box office/worldwide)',
       '27.9% (domestic box office/worldwide)',
       '22.7% (domestic box office/worldwide)',
       '45.4% (domestic box office/worldwide)',
       '68.9% (domestic box office/worldwide)',
       '34.4% (domestic box office/worldwide)',
       '82.1% (domestic box office/worldwide)',
       '68.6% (domestic box office/worldwide)',
       '55.8% (domestic box office/worldwide)',
       '1.7% (domestic box office/worldwide)',
       '62.3% (domestic box office/worldwide)',
       '35.6% (domestic box office/worldwide)',
       '61.0% (domestic box office/worldwide)',
       '97.4% (domestic box office/worldwide)',
       '31.1% (domestic box office/worldwide)',
       '88.9% (domestic box office/worldwide)',
       '37.8% (domestic box office/worldwide)',

In [416]:
# Cleaning up dom_pct
movies['dom_pct'] = (movies['dom_pct']
                     .str.replace('% (domestic box office/worldwide)', '', regex=False)
                     .astype('float')/100)

movies['dom_pct'].head(10)

0    0.021
1      NaN
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
8    0.653
9      NaN
Name: dom_pct, dtype: float64

### Cleaning up `prod_method`

In [417]:
#Prod_method
movies['prod_method'].unique()

array(['Live Action', 'Digital Animation', 'Hand Animation',
       'Animation/Live Action', nan, 'Stop-Motion Animation',
       'Rotoscoping', 'Multiple Production Methods'], dtype=object)

In [418]:
set_categorical(movies, ['prod_method'])
movies['prod_method'].head(10)

0          Live Action
1    Digital Animation
2          Live Action
3          Live Action
4       Hand Animation
5          Live Action
6          Live Action
7          Live Action
8          Live Action
9          Live Action
Name: prod_method, dtype: category
Categories (7, object): ['Animation/Live Action', 'Digital Animation', 'Hand Animation', 'Live Action', 'Multiple Production Methods', 'Rotoscoping', 'Stop-Motion Animation']

### Cleaning movie comps

In [419]:
# Investigating comps
movies['comps'].unique()

array(['vs. AvatarCreate your own comparison chart…',
       'Create your own comparison chart…',
       'vs. Kimetsu no Yaiba: Mugen Ressha-HenCreate your own comparison chart…',
       ..., 'vs. Baby BoomCreate your own comparison chart…',
       'vs. Mississippi BurningCreate your own comparison chart…',
       'vs. Casse-tête chinoisCreate your own comparison chart…'],
      dtype=object)

In [420]:
# Comps does not give any interesting information
movies.drop(columns = 'comps', inplace=True)

### Cleaning `opening_wknd_bo`

In [421]:
movies['opening_wknd_bo'].unique()

array(['$119,364 (32.8% of total gross)', nan,
       '$3,104,204 (19.9% of total gross)', ...,
       '$4,216,063 (27.3% of total gross)',
       '$11,260,685 (12.3% of total gross)',
       '$19,558,558 (29.3% of total gross)'], dtype=object)

In [422]:
movies[['opening_wknd_bo', 'opening_wknd_bo_pct_tot']] = movies['opening_wknd_bo'].str.split(' ', 1, expand=True)

/var/folders/f4/mmfbs50954l08xffq4m0vf3m0000gn/T/ipykernel_59219/1389905330.py:1: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  movies[['opening_wknd_bo', 'opening_wknd_bo_pct_tot']] = movies['opening_wknd_bo'].str.split(' ', 1, expand=True)

In [423]:
get_monetary_clean(movies, ['opening_wknd_bo'])

### Cleaning `opening_wknd_bo_pct_tot`

In [424]:
movies['opening_wknd_bo_pct_tot'].unique()

array(['(32.8% of total gross)', nan, '(19.9% of total gross)',
       '(8.6% of total gross)', '(30.7% of total gross)',
       '(28.4% of total gross)', '(37.0% of total gross)',
       '(19.6% of total gross)', '(30.3% of total gross)',
       '(15.5% of total gross)', '(36.7% of total gross)',
       '(34.4% of total gross)', '(28.5% of total gross)',
       '(24.7% of total gross)', '(31.9% of total gross)',
       '(24.9% of total gross)', '(20.3% of total gross)',
       '(55.1% of total gross)', '(43.8% of total gross)',
       '(38.2% of total gross)', '(37.7% of total gross)',
       '(40.5% of total gross)', '(27.3% of total gross)',
       '(25.0% of total gross)', '(29.7% of total gross)',
       '(38.4% of total gross)', '(6.8% of total gross)',
       '(30.0% of total gross)', '(24.8% of total gross)',
       '(27.9% of total gross)', '(34.8% of total gross)',
       '(28.2% of total gross)', '(44.0% of total gross)',
       '(30.5% of total gross)', '(37.1% of total gross)',
       '(39.0% of total gross)', '(34.9% of total gross)',
       '(47.3% of total gross)', '(29.9% of total gross)',
       '(19.0% of total gross)', '(46.9% of total gross)',
       '(35.9% of total gross)', '(39.3% of total gross)',
       '(26.5% of total gross)', '(63.7% of total gross)',
       '(36.0% of total gross)', '(23.3% of total gross)',
       '(32.5% of total gross)', '(36.3% of total gross)',
       '(0.6% of total gross)', '(50.0% of total gross)',
       '(39.1% of total gross)', '(33.6% of total gross)',
       '(40.6% of total gross)', '(44.4% of total gross)',
       '(37.9% of total gross)', '(42.9% of total gross)',
       '(49.6% of total gross)', '(56.5% of total gross)',
       '(31.7% of total gross)', '(34.3% of total gross)',
       '(42.2% of total gross)', '(52.0% of total gross)',
       '(1.7% of total gross)', '(4.6% of total gross)',
       '(53.7% of total gross)', '(8.4% of total gross)',
       '(40.2% of total gross)', '(41.3% of total gross)',
       '(43.2% of total gross)', '(34.0% of total gross)',
       '(15.4% of total gross)', '(19.2% of total gross)',
       '(35.7% of total gross)', '(28.3% of total gross)',
       '(26.8% of total gross)', '(31.3% of total gross)',
       '(2.0% of total gross)', '(13.7% of total gross)',
       '(100.0% of total gross)', '(27.4% of total gross)',
       '(32.0% of total gross)', '(26.6% of total gross)',
       '(15.9% of total gross)', '(53.1% of total gross)',
       '(22.1% of total gross)', '(18.5% of total gross)',
       '(31.2% of total gross)', '(16.1% of total gross)',
       '(13.8% of total gross)', '(36.8% of total gross)',
       '(30.1% of total gross)', '(6.9% of total gross)',
       '(11.1% of total gross)', '(0.5% of total gross)',
       '(20.4% of total gross)', '(1.3% of total gross)',
       '(1.1% of total gross)', '(17.2% of total gross)',
       '(0.3% of total gross)', '(36.6% of total gross)',
       '(16.2% of total gross)', '(5.6% of total gross)',
       '(19.3% of total gross)', '(38.3% of total gross)',
       '(26.1% of total gross)', '(18.8% of total gross)',
       '(32.7% of total gross)', '(29.1% of total gross)',
       '(48.2% of total gross)', '(27.1% of total gross)',
       '(24.2% of total gross)', '(17.0% of total gross)',
       '(26.4% of total gross)', '(15.0% of total gross)',
       '(14.6% of total gross)', '(40.4% of total gross)',
       '(28.0% of total gross)', '(10.4% of total gross)',
       '(22.0% of total gross)', '(4.1% of total gross)',
       '(5.3% of total gross)', '(17.8% of total gross)',
       '(20.1% of total gross)', '(10.6% of total gross)',
       '(36.5% of total gross)', '(0.4% of total gross)',
       '(0.2% of total gross)', '(24.6% of total gross)',
       '(17.3% of total gross)', '(19.7% of total gross)',
       '(30.9% of total gross)', '(21.6% of total gross)',
       '(30.8% of total gross)', '(0.9% of total gross)',
       '(7.1% of total gross)', '(5.2% of total gross)',
       '(10.1% of total gross)', '(23.5% of total gross)',
       '(37.2% of total gross)', '(26.3% of total gross)',
       '(33.0% of total gross)', '(13.5% of total gross)',
       '(20.5% of total gross)', '(29.6% of total gross)',
       '(29.0% of total gross)', '(33.2% of total gross)',
       '(15.6% of total gross)', '(23.8% of total gross)',
       '(12.8% of total gross)', '(14.3% of total gross)',
       '(1.6% of total gross)', '(9.7% of total gross)',
       '(15.1% of total gross)', '(1.8% of total gross)',
       '(13.0% of total gross)', '(0.1% of total gross)',
       '(50.3% of total gross)', '(46.4% of total gross)',
       '(23.2% of total gross)', '(41.2% of total gross)',
       '(55.6% of total gross)', '(21.8% of total gross)',
       '(43.9% of total gross)', '(45.5% of total gross)',
       '(40.3% of total gross)', '(36.1% of total gross)',
       '(22.4% of total gross)', '(32.3% of total gross)',
       '(62.4% of total gross)', '(3.0% of total gross)',
       '(31.8% of total gross)', '(45.3% of total gross)',
       '(65.3% of total gross)', '(54.0% of total gross)',
       '(51.4% of total gross)', '(43.1% of total gross)',
       '(53.0% of total gross)', '(3.2% of total gross)',
       '(43.6% of total gross)', '(41.5% of total gross)',
       '(45.8% of total gross)', '(17.5% of total gross)',
       '(50.8% of total gross)', '(45.9% of total gross)',
       '(50.9% of total gross)', '(2.6% of total gross)',
       '(38.0% of total gross)', '(27.6% of total gross)',
       '(1.5% of total gross)', '(5.8% of total gross)',
       '(47.7% of total gross)', '(41.9% of total gross)',
       '(65.7% of total gross)', '(21.3% of total gross)',
       '(41.0% of total gross)', '(11.6% of total gross)',
       '(34.6% of total gross)', '(4.2% of total gross)',
       '(30.6% of total gross)', '(6.5% of total gross)',
       '(37.6% of total gross)', '(1.4% of total gross)',
       '(38.1% of total gross)', '(33.9% of total gross)',
       '(2.7% of total gross)', '(5.0% of total gross)',
       '(25.3% of total gross)', '(21.2% of total gross)',
       '(26.0% of total gross)', '(13.9% of total gross)',
       '(52.8% of total gross)', '(51.0% of total gross)',
       '(25.8% of total gross)', '(8.0% of total gross)',
       '(31.0% of total gross)', '(43.7% of total gross)',
       '(51.1% of total gross)', '(10.2% of total gross)',
       '(36.4% of total gross)', '(42.8% of total gross)',
       '(37.3% of total gross)', '(29.4% of total gross)',
       '(3.6% of total gross)', '(31.5% of total gross)',
       '(41.6% of total gross)', '(46.3% of total gross)',
       '(49.0% of total gross)', '(59.3% of total gross)',
       '(40.1% of total gross)', '(44.6% of total gross)',
       '(33.8% of total gross)', '(42.3% of total gross)',
       '(47.8% of total gross)', '(4.3% of total gross)',
       '(24.3% of total gross)', '(31.4% of total gross)',
       '(42.4% of total gross)', '(35.1% of total gross)',
       '(62.2% of total gross)', '(2.9% of total gross)',
       '(38.6% of total gross)', '(58.3% of total gross)',
       '(40.7% of total gross)', '(49.5% of total gross)',
       '(35.6% of total gross)', '(79.6% of total gross)',
       '(28.7% of total gross)', '(24.0% of total gross)',
       '(39.9% of total gross)', '(25.9% of total gross)',
       '(44.8% of total gross)', '(32.2% of total gross)',
       '(69.3% of total gross)', '(62.3% of total gross)',
       '(46.7% of total gross)', '(39.2% of total gross)',
       '(3.9% of total gross)', '(36.2% of total gross)',
       '(2.1% of total gross)', '(14.4% of total gross)',
       '(13.3% of total gross)', '(53.5% of total gross)',
       '(61.1% of total gross)', '(34.1% of total gross)',
       '(0.8% of total gross)', '(33.4% of total gross)',
       '(41.8% of total gross)', '(23.0% of total gross)',
       '(2.4% of total gross)', '(9.8% of total gross)',
       '(25.2% of total gross)', '(22.3% of total gross)',
       '(2.3% of total gross)', '(29.8% of total gross)',
       '(56.7% of total gross)', '(61.0% of total gross)',
       '(48.7% of total gross)', '(4.8% of total gross)',
       '(54.6% of total gross)', '(41.4% of total gross)',
       '(44.3% of total gross)', '(59.8% of total gross)',
       '(28.8% of total gross)', '(1.0% of total gross)',
       '(38.7% of total gross)', '(20.8% of total gross)',
       '(63.3% of total gross)', '(51.3% of total gross)',
       '(47.2% of total gross)', '(7.8% of total gross)',
       '(48.4% of total gross)', '(58.5% of total gross)',
       '(34.7% of total gross)', '(39.5% of total gross)',
       '(33.7% of total gross)', '(32.6% of total gross)',
       '(45.7% of total gross)', '(27.7% of total gross)',
       '(37.4% of total gross)', '(41.7% of total gross)',
       '(6.3% of total gross)', '(68.3% of total gross)',
       '(22.7% of total gross)', '(11.3% of total gross)',
       '(48.3% of total gross)', '(44.2% of total gross)',
       '(0.7% of total gross)', '(8.7% of total gross)',
       '(35.3% of total gross)', '(26.2% of total gross)',
       '(8.9% of total gross)', '(35.2% of total gross)',
       '(43.5% of total gross)', '(16.9% of total gross)',
       '(25.4% of total gross)', '(5.4% of total gross)',
       '(41.1% of total gross)', '(33.3% of total gross)',
       '(19.5% of total gross)', '(1.9% of total gross)',
       '(55.9% of total gross)', '(46.8% of total gross)',
       '(64.3% of total gross)', '(34.5% of total gross)',
       '(68.8% of total gross)', '(46.6% of total gross)',
       '(53.6% of total gross)', '(29.5% of total gross)',
       '(54.4% of total gross)', '(6.2% of total gross)',
       '(16.6% of total gross)', '(37.8% of total gross)',
       '(8.1% of total gross)', '(49.2% of total gross)',
       '(7.6% of total gross)', '(16.7% of total gross)',
       '(54.2% of total gross)', '(7.5% of total gross)',
       '(45.4% of total gross)', '(4.4% of total gross)',
       '(8.3% of total gross)', '(28.6% of total gross)',
       '(48.9% of total gross)', '(23.4% of total gross)',
       '(47.5% of total gross)', '(63.9% of total gross)',
       '(27.8% of total gross)', '(44.1% of total gross)',
       '(73.7% of total gross)', '(17.6% of total gross)',
       '(49.7% of total gross)', '(9.2% of total gross)',
       '(44.9% of total gross)', '(31.6% of total gross)',
       '(62.0% of total gross)', '(27.0% of total gross)',
       '(5.7% of total gross)', '(22.5% of total gross)',
       '(39.4% of total gross)', '(16.0% of total gross)',
       '(34.2% of total gross)', '(30.4% of total gross)',
       '(29.3% of total gross)', '(8.5% of total gross)',
       '(55.2% of total gross)', '(9.1% of total gross)',
       '(33.1% of total gross)', '(18.1% of total gross)',
       '(3.7% of total gross)', '(20.7% of total gross)',
       '(39.8% of total gross)', '(25.5% of total gross)',
       '(36.9% of total gross)', '(46.2% of total gross)',
       '(42.0% of total gross)', '(26.7% of total gross)',
       '(32.4% of total gross)', '(20.0% of total gross)',
       '(21.7% of total gross)', '(18.4% of total gross)',
       '(21.1% of total gross)', '(27.2% of total gross)',
       '(47.6% of total gross)', '(51.6% of total gross)',
       '(46.1% of total gross)', '(27.5% of total gross)',
       '(19.8% of total gross)', '(5.9% of total gross)',
       '(18.7% of total gross)', '(46.5% of total gross)',
       '(2.8% of total gross)', '(14.9% of total gross)',
       '(6.1% of total gross)', '(25.1% of total gross)',
       '(13.2% of total gross)', '(14.1% of total gross)',
       '(10.7% of total gross)', '(18.0% of total gross)',
       '(0.0% of total gross)', '(15.7% of total gross)',
       '(3.3% of total gross)', '(4.9% of total gross)',
       '(9.6% of total gross)', '(9.9% of total gross)',
       '(19.1% of total gross)', '(15.3% of total gross)',
       '(25.6% of total gross)', '(7.4% of total gross)',
       '(12.6% of total gross)', '(12.3% of total gross)',
       '(7.9% of total gross)', '(16.5% of total gross)',
       '(14.5% of total gross)', '(38.5% of total gross)',
       '(3.1% of total gross)', '(23.7% of total gross)',
       '(12.4% of total gross)', '(11.4% of total gross)',
       '(3.8% of total gross)', '(9.5% of total gross)',
       '(23.9% of total gross)', '(35.5% of total gross)',
       '(45.1% of total gross)', '(40.0% of total gross)',
       '(63.5% of total gross)', '(39.7% of total gross)',
       '(64.0% of total gross)', '(53.4% of total gross)',
       '(48.0% of total gross)', '(50.6% of total gross)',
       '(1.2% of total gross)', '(32.1% of total gross)',
       '(49.1% of total gross)', '(37.5% of total gross)',
       '(54.3% of total gross)', '(52.2% of total gross)',
       '(12.1% of total gross)', '(56.9% of total gross)',
       '(47.4% of total gross)', '(3.4% of total gross)',
       '(56.1% of total gross)', '(43.4% of total gross)',
       '(5.1% of total gross)', '(68.1% of total gross)',
       '(21.5% of total gross)', '(57.1% of total gross)',
       '(72.8% of total gross)', '(54.8% of total gross)',
       '(28.9% of total gross)', '(2.2% of total gross)',
       '(60.6% of total gross)', '(94.8% of total gross)',
       '(23.1% of total gross)', '(43.0% of total gross)',
       '(24.1% of total gross)', '(3.5% of total gross)',
       '(51.7% of total gross)', '(13.4% of total gross)',
       '(55.3% of total gross)', '(5.5% of total gross)',
       '(53.8% of total gross)', '(84.8% of total gross)',
       '(24.4% of total gross)', '(16.4% of total gross)',
       '(6.7% of total gross)', '(50.2% of total gross)',
       '(14.7% of total gross)', '(45.2% of total gross)',
       '(47.9% of total gross)', '(49.9% of total gross)',
       '(55.8% of total gross)', '(59.2% of total gross)',
       '(47.0% of total gross)', '(63.6% of total gross)',
       '(60.1% of total gross)', '(87.5% of total gross)',
       '(91.3% of total gross)', '(38.8% of total gross)',
       '(47.1% of total gross)', '(42.7% of total gross)',
       '(12.7% of total gross)', '(25.7% of total gross)',
       '(9.0% of total gross)', '(14.0% of total gross)',
       '(20.9% of total gross)', '(14.2% of total gross)',
       '(16.8% of total gross)', '(43.3% of total gross)',
       '(8.2% of total gross)', '(40.9% of total gross)',
       '(12.5% of total gross)', '(18.6% of total gross)',
       '(42.1% of total gross)', '(24.5% of total gross)',
       '(11.2% of total gross)', '(10.0% of total gross)',
       '(10.5% of total gross)', '(62.5% of total gross)',
       '(2.5% of total gross)', '(56.0% of total gross)',
       '(42.6% of total gross)', '(39.6% of total gross)',
       '(53.2% of total gross)', '(45.0% of total gross)',
       '(20.2% of total gross)', '(58.7% of total gross)',
       '(15.2% of total gross)', '(66.2% of total gross)',
       '(28.1% of total gross)', '(73.8% of total gross)',
       '(65.9% of total gross)', '(73.4% of total gross)',
       '(38.9% of total gross)', '(44.5% of total gross)',
       '(58.8% of total gross)', '(13.1% of total gross)',
       '(35.4% of total gross)', '(6.0% of total gross)',
       '(52.1% of total gross)', '(51.5% of total gross)',
       '(59.0% of total gross)', '(35.0% of total gross)',
       '(44.7% of total gross)', '(52.3% of total gross)',
       '(52.5% of total gross)', '(30.2% of total gross)',
       '(33.5% of total gross)', '(52.7% of total gross)',
       '(56.8% of total gross)', '(57.9% of total gross)',
       '(50.5% of total gross)', '(59.9% of total gross)',
       '(45.6% of total gross)', '(26.9% of total gross)',
       '(67.1% of total gross)', '(7.2% of total gross)',
       '(40.8% of total gross)', '(31.1% of total gross)',
       '(82.7% of total gross)', '(74.4% of total gross)',
       '(22.9% of total gross)', '(4.5% of total gross)',
       '(72.9% of total gross)', '(4.0% of total gross)',
       '(53.3% of total gross)', '(29.2% of total gross)',
       '(7.0% of total gross)', '(18.2% of total gross)',
       '(46.0% of total gross)', '(23.6% of total gross)',
       '(22.2% of total gross)', '(18.9% of total gross)',
       '(17.9% of total gross)', '(11.7% of total gross)',
       '(4.7% of total gross)', '(35.8% of total gross)',
       '(21.0% of total gross)', '(21.9% of total gross)',
       '(8.8% of total gross)', '(18.3% of total gross)',
       '(11.8% of total gross)', '(22.6% of total gross)',
       '(17.4% of total gross)', '(10.3% of total gross)',
       '(19.4% of total gross)', '(53.9% of total gross)',
       '(22.8% of total gross)', '(52.4% of total gross)',
       '(58.0% of total gross)', '(55.5% of total gross)',
       '(13.6% of total gross)', '(52.9% of total gross)',
       '(10.8% of total gross)', '(80.5% of total gross)',
       '(63.2% of total gross)', '(64.4% of total gross)',
       '(7.3% of total gross)', '(62.1% of total gross)',
       '(12.0% of total gross)', '(9.4% of total gross)',
       '(6.4% of total gross)', '(64.6% of total gross)',
       '(65.6% of total gross)', '(58.1% of total gross)',
       '(15.8% of total gross)', '(17.1% of total gross)',
       '(14.8% of total gross)', '(16.3% of total gross)',
       '(60.3% of total gross)', '(84.4% of total gross)',
       '(75.9% of total gross)', '(48.8% of total gross)',
       '(49.8% of total gross)', '(54.9% of total gross)',
       '(32.9% of total gross)', '(11.5% of total gross)',
       '(62.7% of total gross)', '(11.9% of total gross)',
       '(75.2% of total gross)', '(42.5% of total gross)',
       '(56.3% of total gross)', '(17.7% of total gross)',
       '(11.0% of total gross)', '(60.7% of total gross)',
       '(84.2% of total gross)', '(57.5% of total gross)',
       '(60.5% of total gross)', '(63.1% of total gross)',
       '(48.5% of total gross)', '(57.6% of total gross)',
       '(57.3% of total gross)', '(77.1% of total gross)',
       '(65.1% of total gross)', '(98.6% of total gross)',
       '(51.8% of total gross)', '(73.2% of total gross)',
       '(62.9% of total gross)', '(67.5% of total gross)',
       '(81.7% of total gross)', '(60.0% of total gross)',
       '(61.3% of total gross)', '(12.2% of total gross)',
       '(61.2% of total gross)', '(49.4% of total gross)',
       '(82.6% of total gross)', '(59.1% of total gross)',
       '(68.0% of total gross)', '(51.9% of total gross)',
       '(66.4% of total gross)', '(61.5% of total gross)',
       '(78.5% of total gross)', '(6.6% of total gross)',
       '(50.7% of total gross)', '(73.0% of total gross)',
       '(50.4% of total gross)', '(20.6% of total gross)',
       '(49.3% of total gross)', '(50.1% of total gross)',
       '(7.7% of total gross)', '(57.8% of total gross)',
       '(54.7% of total gross)', '(61.7% of total gross)',
       '(55.7% of total gross)', '(12.9% of total gross)',
       '(9.3% of total gross)', '(65.5% of total gross)',
       '(55.0% of total gross)', '(73.9% of total gross)',
       '(52.6% of total gross)', '(48.1% of total gross)',
       '(21.4% of total gross)', '(54.1% of total gross)',
       '(10.9% of total gross)', '(81.8% of total gross)',
       '(87.3% of total gross)', '(58.9% of total gross)',
       '(91.6% of total gross)', '(77.9% of total gross)',
       '(48.6% of total gross)'], dtype=object)

In [425]:
movies['opening_wknd_bo_pct_tot'] = (movies['opening_wknd_bo_pct_tot']
                                     .str.replace('% of total gross)', '', regex=False)
                                     .str.replace('(', '', regex=False)
                                     .astype('float')/100)
movies['opening_wknd_bo_pct_tot'].unique()

array([0.328,   nan, 0.199, 0.086, 0.307, 0.284, 0.37 , 0.196, 0.303,
       0.155, 0.367, 0.344, 0.285, 0.247, 0.319, 0.249, 0.203, 0.551,
       0.438, 0.382, 0.377, 0.405, 0.273, 0.25 , 0.297, 0.384, 0.068,
       0.3  , 0.248, 0.279, 0.348, 0.282, 0.44 , 0.305, 0.371, 0.39 ,
       0.349, 0.473, 0.299, 0.19 , 0.469, 0.359, 0.393, 0.265, 0.637,
       0.36 , 0.233, 0.325, 0.363, 0.006, 0.5  , 0.391, 0.336, 0.406,
       0.444, 0.379, 0.429, 0.496, 0.565, 0.317, 0.343, 0.422, 0.52 ,
       0.017, 0.046, 0.537, 0.084, 0.402, 0.413, 0.432, 0.34 , 0.154,
       0.192, 0.357, 0.283, 0.268, 0.313, 0.02 , 0.137, 1.   , 0.274,
       0.32 , 0.266, 0.159, 0.531, 0.221, 0.185, 0.312, 0.161, 0.138,
       0.368, 0.301, 0.069, 0.111, 0.005, 0.204, 0.013, 0.011, 0.172,
       0.003, 0.366, 0.162, 0.056, 0.193, 0.383, 0.261, 0.188, 0.327,
       0.291, 0.482, 0.271, 0.242, 0.17 , 0.264, 0.15 , 0.146, 0.404,
       0.28 , 0.104, 0.22 , 0.041, 0.053, 0.178, 0.201, 0.106, 0.365,
       0.004, 0.002, 0.246, 0.173, 0.197, 0.309, 0.216, 0.308, 0.009,
       0.071, 0.052, 0.101, 0.235, 0.372, 0.263, 0.33 , 0.135, 0.205,
       0.296, 0.29 , 0.332, 0.156, 0.238, 0.128, 0.143, 0.016, 0.097,
       0.151, 0.018, 0.13 , 0.001, 0.503, 0.464, 0.232, 0.412, 0.556,
       0.218, 0.439, 0.455, 0.403, 0.361, 0.224, 0.323, 0.624, 0.03 ,
       0.318, 0.453, 0.653, 0.54 , 0.514, 0.431, 0.53 , 0.032, 0.436,
       0.415, 0.458, 0.175, 0.508, 0.459, 0.509, 0.026, 0.38 , 0.276,
       0.015, 0.058, 0.477, 0.419, 0.657, 0.213, 0.41 , 0.116, 0.346,
       0.042, 0.306, 0.065, 0.376, 0.014, 0.381, 0.339, 0.027, 0.05 ,
       0.253, 0.212, 0.26 , 0.139, 0.528, 0.51 , 0.258, 0.08 , 0.31 ,
       0.437, 0.511, 0.102, 0.364, 0.428, 0.373, 0.294, 0.036, 0.315,
       0.416, 0.463, 0.49 , 0.593, 0.401, 0.446, 0.338, 0.423, 0.478,
       0.043, 0.243, 0.314, 0.424, 0.351, 0.622, 0.029, 0.386, 0.583,
       0.407, 0.495, 0.356, 0.796, 0.287, 0.24 , 0.399, 0.259, 0.448,
       0.322, 0.693, 0.623, 0.467, 0.392, 0.039, 0.362, 0.021, 0.144,
       0.133, 0.535, 0.611, 0.341, 0.008, 0.334, 0.418, 0.23 , 0.024,
       0.098, 0.252, 0.223, 0.023, 0.298, 0.567, 0.61 , 0.487, 0.048,
       0.546, 0.414, 0.443, 0.598, 0.288, 0.01 , 0.387, 0.208, 0.633,
       0.513, 0.472, 0.078, 0.484, 0.585, 0.347, 0.395, 0.337, 0.326,
       0.457, 0.277, 0.374, 0.417, 0.063, 0.683, 0.227, 0.113, 0.483,
       0.442, 0.007, 0.087, 0.353, 0.262, 0.089, 0.352, 0.435, 0.169,
       0.254, 0.054, 0.411, 0.333, 0.195, 0.019, 0.559, 0.468, 0.643,
       0.345, 0.688, 0.466, 0.536, 0.295, 0.544, 0.062, 0.166, 0.378,
       0.081, 0.492, 0.076, 0.167, 0.542, 0.075, 0.454, 0.044, 0.083,
       0.286, 0.489, 0.234, 0.475, 0.639, 0.278, 0.441, 0.737, 0.176,
       0.497, 0.092, 0.449, 0.316, 0.62 , 0.27 , 0.057, 0.225, 0.394,
       0.16 , 0.342, 0.304, 0.293, 0.085, 0.552, 0.091, 0.331, 0.181,
       0.037, 0.207, 0.398, 0.255, 0.369, 0.462, 0.42 , 0.267, 0.324,
       0.2  , 0.217, 0.184, 0.211, 0.272, 0.476, 0.516, 0.461, 0.275,
       0.198, 0.059, 0.187, 0.465, 0.028, 0.149, 0.061, 0.251, 0.132,
       0.141, 0.107, 0.18 , 0.   , 0.157, 0.033, 0.049, 0.096, 0.099,
       0.191, 0.153, 0.256, 0.074, 0.126, 0.123, 0.079, 0.165, 0.145,
       0.385, 0.031, 0.237, 0.124, 0.114, 0.038, 0.095, 0.239, 0.355,
       0.451, 0.4  , 0.635, 0.397, 0.64 , 0.534, 0.48 , 0.506, 0.012,
       0.321, 0.491, 0.375, 0.543, 0.522, 0.121, 0.569, 0.474, 0.034,
       0.561, 0.434, 0.051, 0.681, 0.215, 0.571, 0.728, 0.548, 0.289,
       0.022, 0.606, 0.948, 0.231, 0.43 , 0.241, 0.035, 0.517, 0.134,
       0.553, 0.055, 0.538, 0.848, 0.244, 0.164, 0.067, 0.502, 0.147,
       0.452, 0.479, 0.499, 0.558, 0.592, 0.47 , 0.636, 0.601, 0.875,
       0.913, 0.388, 0.471, 0.427, 0.127, 0.257, 0.09 , 0.14 , 0.209,
       0.142, 0.168, 0.433, 0.082, 0.409, 0.125, 0.186, 0.421, 0.245,
       0.112, 0.1  , 0.105, 0.625, 0.025, 0.56 , 0.426, 0.396, 0.532,
       0.45 , 0.202, 0.587, 0.152, 0.662, 0.281, 0.738, 0.659, 0.734,
       0.389, 0.445, 0.588, 0.131, 0.354, 0.06 , 0.521, 0.515, 0.59 ,
       0.35 , 0.447, 0.523, 0.525, 0.302, 0.335, 0.527, 0.568, 0.579,
       0.505, 0.599, 0.456, 0.269, 0.671, 0.072, 0.408, 0.311, 0.827,
       0.744, 0.229, 0.045, 0.729, 0.04 , 0.533, 0.292, 0.07 , 0.182,
       0.46 , 0.236, 0.222, 0.189, 0.179, 0.117, 0.047, 0.358, 0.21 ,
       0.219, 0.088, 0.183, 0.118, 0.226, 0.174, 0.103, 0.194, 0.539,
       0.228, 0.524, 0.58 , 0.555, 0.136, 0.529, 0.108, 0.805, 0.632,
       0.644, 0.073, 0.621, 0.12 , 0.094, 0.064, 0.646, 0.656, 0.581,
       0.158, 0.171, 0.148, 0.163, 0.603, 0.844, 0.759, 0.488, 0.498,
       0.549, 0.329, 0.115, 0.627, 0.119, 0.752, 0.425, 0.563, 0.177,
       0.11 , 0.607, 0.842, 0.575, 0.605, 0.631, 0.485, 0.576, 0.573,
       0.771, 0.651, 0.986, 0.518, 0.732, 0.629, 0.675, 0.817, 0.6  ,
       0.613, 0.122, 0.612, 0.494, 0.826, 0.591, 0.68 , 0.519, 0.664,
       0.615, 0.785, 0.066, 0.507, 0.73 , 0.504, 0.206, 0.493, 0.501,
       0.077, 0.578, 0.547, 0.617, 0.557, 0.129, 0.093, 0.655, 0.55 ,
       0.739, 0.526, 0.481, 0.214, 0.541, 0.109, 0.818, 0.873, 0.589,
       0.916, 0.779, 0.486])

### Cleaning `ww_bo`, `ww_bo`, `int_bo`, `dom_bo`, `est_dom_bluray`, `tot_dom_vid_sales`, `dot_dom_dvd`, `adj_dom_bo`

In [426]:
_money_cols = ['ww_bo', 'int_bo', 'dom_bo', 'est_dom_bluray',
               'tot_dom_vid_sales', 'est_dom_dvd', 'adj_dom_bo']

get_monetary_clean(movies, _money_cols)

movies[_money_cols].tail(10)

,ww_bo,int_bo,dom_bo,est_dom_bluray,tot_dom_vid_sales,est_dom_dvd,adj_dom_bo
9518,NaN,NaN,22998000.0,NaN,NaN,NaN,49974327.0
9519,NaN,NaN,6633976.0,NaN,NaN,NaN,14415533.0
9520,NaN,NaN,51636504.0,NaN,NaN,NaN,112470197.0
9521,NaN,NaN,15432314.0,NaN,NaN,NaN,33534195.0
9522,22493727.0,1783276.0,20710451.0,NaN,NaN,NaN,45109257.0
9523,202000000.0,110542312.0,91457688.0,NaN,NaN,NaN,198963691.0
9524,NaN,NaN,13798030.0,NaN,NaN,NaN,30054134.0
9525,NaN,NaN,7331647.0,NaN,NaN,NaN,15931564.0
9526,66786966.0,120904.0,66666062.0,NaN,NaN,NaN,144909420.0
9527,NaN,NaN,29804169.0,NaN,NaN,NaN,64917869.0

### Cleaning `int_releases`

In [427]:
# investigating international releases. The columns seems incomplete
movies['int_releases'][0]

'January 1st, 2021 (Wide) (Australia)\nJanuary 1st, 2021 (Wide) (New Zealand)\nJuly 15th, 2021 (Wide), released as Город тайн (Russia (CIS))\nNovember 11th, 2021 (Wide), released as Chi è senza peccato - The Dry (Italy)\nNovember 19th, 2021 (Wide), released as Años de sequia (Spain)\n... Show all releases\n'

In [428]:
# Dropping it
movies.drop(columns='int_releases', inplace=True)

### Cleaning `n_theaters`

In [429]:
movies['n_theaters'].unique()

array(['186 opening theaters/186 max. theaters, 2.5 weeks average run per theater',
       nan,
       '1,975 opening theaters/2,018 max. theaters, 9.1 weeks average run per theater',
       ...,
       '1,373 opening theaters/1,373 max. theaters, 1.0 weeks average run per theater',
       '1,833 opening theaters/1,934 max. theaters, 9.4 weeks average run per theater',
       '1,901 opening theaters/1,922 max. theaters, 6.4 weeks average run per theater'],
      dtype=object)

In [430]:
n_theaters_pattern = r'\d{1,3}(?:,\d{3})*(?:\.\d+)?'

numbers_list = []

for string in movies['n_theaters']:
    string = str(string)
    numbers = re.findall(n_theaters_pattern, string)
    numbers_list.append(numbers)

movies['n_theaters'] = numbers_list

In [431]:
for index, row in movies.iterrows():
    values = row['n_theaters']
    length = len(values)

    if length >= 1:
        movies.loc[index, 'n_opening_theaters'] = values[0].replace(',', '')
    if length >= 2:
        movies.loc[index, 'n_max_theaters'] = values[1].replace(',', '')
    if length >= 3:
        movies.loc[index, 'weeks_average_run_theater'] = values[2].replace(
            ',', '')

movies[['n_opening_theaters', 'n_max_theaters', 'weeks_average_run_theater']] = movies[[
    'n_opening_theaters', 'n_max_theaters', 'weeks_average_run_theater']].astype('float')

In [432]:
movies[['n_opening_theaters', 'n_max_theaters', 'weeks_average_run_theater']].describe()

       n_opening_theaters  n_max_theaters  weeks_average_run_theater
count         6732.000000     6732.000000                6731.000000
mean          1616.567588     1781.497623                   5.206819
std           1295.669278     1215.319260                   4.458015
min              1.000000        1.000000                   0.000000
25%            119.000000      746.500000                   3.000000
50%           1562.500000     1747.000000                   4.400000
75%           2709.250000     2778.000000                   6.300000
max           4735.000000     4802.000000                 101.200000

In [433]:
movies = movies.drop(columns='n_theaters')

### Creating a `movie_id`

In [434]:
movies = movies.sort_values(by='year')
movies = movies.reset_index()
movies['movie_id'] = movies.index+1

In [435]:
movies = movies.drop(columns='index')

### Cleaning `mpaa`

In [436]:
# Investigating `mpaa`
movies['mpaa'].unique()

array(['Not Rated', 'Not Rated Passed', 'G', ...,
       'PG-13 for some strong language and suggestive material.(Rating bulletin 2778 (cert #54118), 4/12/2023)',
       'PG-13 for intense sequences of violence and action, language and some suggestive material.(Rating bulletin 2778 (cert #54373), 4/12/2023)',
       'PG for action/peril and some scary images.(Rating bulletin 2764 (cert #54208), 1/4/2023)'],
      dtype=object)

In [437]:
movies['mpaa'].str[:5].unique()

array(['Not R', 'G', 'PG-13', 'G Rat', 'PG fo', 'R Rat', 'G (19', 'PG ra',
       'R for', 'PG', 'PG Ra', 'G (ra', 'G 197', 'PG 19', 'PG 20',
       'G 196', 'PG (1', 'R', 'GP', 'M/PG', 'GP Ed', 'R Edi', 'G Edi',
       'PG Re', 'NC-17', 'PG (r', 'PG Ed', nan, 'PG (a', 'R (ap', 'PG Fo',
       'PG on', 'PGPG ', 'R App', 'PG (O', 'R For', 'PG (e', 'PGPG-',
       'R (af', 'R (Ed', 'R(Rat', 'R Adu', 'R R f', 'R on ', 'PG so',
       'Open ', 'G pre', 'Open', 'G for', 'G 201', 'PG br', 'G (ed',
       'PG or', 'G(Rat', 'R  Fo', 'R vio', 'R str', 'R or ', 'R Eng',
       'PG vi', 'PG th', 'R lan'], dtype=object)

In [438]:
#mpaa ratings'G', 'PG-13','NC-17', ' PG', 'R', 'Not Rated'. Until 1972 PG was called GP
mpaa_ratings_pattern =  r'\b(G|PG-13|NC-17|PG|R|Not Rated|GP)\b'

movies['mpaa_clean'] = (movies['mpaa']
                        .str.extract(mpaa_ratings_pattern, expand=False))
movies['mpaa_clean'].unique()

array(['Not Rated', 'G', 'PG-13', 'PG', 'R', 'GP', 'NC-17', nan],
      dtype=object)

In [439]:
# Overwriting GP to PG
movies.loc[movies['mpaa_clean'] == 'GP', 'mpaa_clean'] = 'PG'

In [440]:
# Checking failed mpaa rating extraction
movies.loc[(movies['mpaa_clean'].isna()) & ~(movies['mpaa'].isna()), ['movie_title', 'year', 'mpaa', 'mpaa_clean']]

,movie_title,year,mpaa,mpaa_clean
930,E.T. the Extra-Terrestrial,1982,PGPG for language and mild thematic elements. ...,NaN
1055,Stop Making Sense,1984,Not RatedPG for brief suggestive material.(Rat...,NaN
1198,Rocky IV,1985,PGPG-13 for violent sports action and brief st...,NaN
3199,Requiem for a Dream,2000,Open,NaN

In [441]:
# Since it is big, important movies, we impute the values manually
_impute_mpaa_values = (['E.T. the Extra-Terrestrial', 1982, 'PG'],
                  ['Stop Making Sense',1984, 'PG'],
                  ['Rocky IV', 1985, 'PG-13'],
                  ['Requiem for a Dream', 2000, 'Not Rated'])

In [442]:
for rating in _impute_mpaa_values:
    movies.loc[(movies['movie_title'] == rating[0]) & (movies['year'] == rating[1]), 'mpaa_clean'] = rating[2]

movies.loc[(movies['mpaa_clean'].isna()) & ~(movies['mpaa'].isna()), ['movie_title', 'year', 'mpaa', 'mpaa_clean']]

Empty DataFrame
Columns: [movie_title, year, mpaa, mpaa_clean]
Index: []

In [443]:
# Everything seems now resolved
movies =( movies
         .drop(columns='mpaa')
         .rename(columns={'mpaa_clean': 'mpaa'}))
set_categorical(movies, ['mpaa'])
movies['mpaa'].head(25)

0     Not Rated
1     Not Rated
2     Not Rated
3     Not Rated
4     Not Rated
5     Not Rated
6     Not Rated
7     Not Rated
8     Not Rated
9     Not Rated
10    Not Rated
11            G
12        PG-13
13    Not Rated
14            G
15            G
16    Not Rated
17    Not Rated
18            G
19    Not Rated
20    Not Rated
21    Not Rated
22            G
23    Not Rated
24            G
Name: mpaa, dtype: category
Categories (6, object): ['G', 'NC-17', 'Not Rated', 'PG', 'PG-13', 'R']

### Cleaning `keywords`

In [444]:
movies['keywords'].head(10)

0    Whitewashed Casting, Ku Klux Klan, Historical ...
1                                                  NaN
2                                                  NaN
3    War Drama, World War I, Anti-war, Romance, Rel...
4                                                  NaN
5                                                  NaN
6                                                  NaN
7       Gothic Horror, Frankenstien's Monster, Monster
8    Nature Horror, Animal Lead, Animals Gone Bad, ...
9                                           Short Film
Name: keywords, dtype: object

In [445]:
#splitting keywords
movies['keywords'] = movies['keywords'].str.split(', ')

In [446]:
movies['keywords'].head(10)

0    [Whitewashed Casting, Ku Klux Klan, Historical...
1                                                  NaN
2                                                  NaN
3    [War Drama, World War I, Anti-war, Romance, Re...
4                                                  NaN
5                                                  NaN
6                                                  NaN
7     [Gothic Horror, Frankenstien's Monster, Monster]
8    [Nature Horror, Animal Lead, Animals Gone Bad,...
9                                         [Short Film]
Name: keywords, dtype: object

### Cleaning `prod_countries`

In [447]:
movies['prod_countries'] = movies['prod_countries'].str.split(', ')
movies['prod_countries'].tail(25)

9501            [United States]
9502            [United States]
9503       [Russian Federation]
9504            [United States]
9505    [Spain, United Kingdom]
9506                    [Japan]
9507                    [Spain]
9508                        NaN
9509        [Republic of Korea]
9510            [United States]
9511                    [Japan]
9512                    [China]
9513                    [India]
9514                    [China]
9515           [United Kingdom]
9516                    [China]
9517            [United States]
9518            [United States]
9519            [United States]
9520            [United States]
9521                    [China]
9522                    [China]
9523            [United States]
9524                    [China]
9525                    [China]
Name: prod_countries, dtype: object

### Cleaning `movie_title`

In [448]:
movies['movie_title'] = movies['movie_title'].astype('string')

In [449]:
movies['movie_title'] = movies['movie_title'] + ' (' + movies['year'].astype('str') + ')'

### Cleaning `crew`

In [450]:
movies['crew'].tail()

9521                 [['Yuanhan Yang (杨沅翰)', 'Director']]
9522                   [['Zhuqing Ji (季竹青)', 'Director']]
9523    [['Rob Marshall', 'Director'], ['David Magee',...
9524                  [['Xiaoshi Liu (刘晓世)', 'Director']]
9525                       [['Yan Han (韩延)', 'Director']]
Name: crew, dtype: object

In [451]:
# Turning into its original list form
movies['crew'] = movies['crew'].apply(eval)
movies['crew'][0]

[['D.W. Griffith', 'Director'],
 ['D.W. Griffith', 'Screenwriter'],
 ['Frank E. Woods', 'Screenwriter']]

In [452]:
# Turning list to dictionary
for index, row in enumerate(movies['crew']):
    crew_dict = {}
    for person in row:
        key, value = person[1], person[0]
        if key in crew_dict:
            crew_dict[key].append(value)
        else:
            crew_dict[key] = [value]
    movies.loc[index, 'crew'] = [copy.deepcopy(crew_dict)]

movies['crew'][0]

[{'Director': ['D.W. Griffith'],
  'Screenwriter': ['D.W. Griffith', 'Frank E. Woods']}]

In [453]:
# Replace and combine all 'based on' into one key
based_on_pattern = r'(?i).*\bbased\b.*'
replacement = 'Based on'

for index, row in movies.iterrows():
    new_dict = {}
    dicts = row['crew']
    for orig_key, orig_value in dicts[0].items():
        key = re.sub(based_on_pattern, replacement, orig_key)
        value = orig_value
        if key in new_dict:
            new_dict[key].append(value)
        else:
            new_dict[key] = value
    movies.loc[index, 'crew'] = [copy.deepcopy(new_dict)]

In [454]:
crew_top_roles(0,50)

564
Director                      8179
Screenwriter                  5785
Producer                      4334
Composer                      3886
Executive Producer            3473
Editor                        2890
Production Designer           2522
Director of Photography       2472
Costume Designer              1524
Story Creator                 1038
Co-Producer                   1014
Casting Director               859
Based on                       763
Music Supervisor               531
Cinematographer                403
Story by                       373
Associate Producer             222
Visual Effects Supervisor      210
Line Producer                  165
Co-Executive Producer          133
Sound Designer                 126
Art Director                   118
First Assistant Director       103
Character Creator               99
Casting                         88
Sound Mixer                     86
Unit Production Manager         77
Make-up and Hair Designer       72
Production Manager              69
Song Writer                     56
Executive Music Producer        54
Co-Director                     54
Second Assistant Director       53
Assistant Director              38
Set Designer                    33
Set Decorator                   33
Choreography                    29
Music by                        28
Music Producer                  27
Supervising Sound Editor        26
Special Make-up Effects         24
Character Designer              23
Re-recording Mixer              22
Animation Supervisor            22
Visual Effects Producer         22
Make up                         21
Stunt Coordinator               21
Post-Production Supervisor      20
Sound Editor                    20
Visual Effects Designer         19
dtype: int64

In [455]:
# Create positional columns
_extract_to_columns = ['Director', 'Producer', 'Executive Producer', 'Editor', 'Composer', 'Screenwriter',
                       'Production Designer', 'Costume Designer', 'Story Creator', 'Director of Photography', 'Based on', 'Casting Director']

movies[_extract_to_columns] = ''

In [456]:
# assigning most common ones to respective rows
# Clean up dictionary keys
# Create columns for: 'Director', 'Producer', 'Casting Director', 'Executive Producer', 'Editor', 'Composer', VFX Supervisor

_position_cleanup = {'Co-Producer': 'Producer',
                     'Screen Story by': 'Story Creator',
                     'Screen Story': 'Story Creator',
                     'Story by': 'Story Creator',
                     'Cinematographer': 'Director of Photography',
                     'Associate Producer': 'Producer',
                     'Co-Executive Producer': 'Executive Producer',
                     'Casting': 'Casting Director',
                     'Co-Director': 'Director',
                     'Film Editor': 'Editor',
                     'Casting by': 'Casting Director',
                     'Casting By': 'Casting Director',
                     'Written By': 'Screenwriter',
                     'Written by': 'Screenwriter',
                     'Co-Editor': 'Editor',
                     'Screen story by': 'Story Creator',
                     'Original Score': 'Composer',
                     'Screenplay by': 'Screenwriter',
                     'Screenplay and Screen Story by': 'Screenwriter',
                     'Story from the Comic "Marmaduke" Created by': 'Based on',
                     'Novel': 'Based on',
                     'Director of Photograpy': 'Director of Photography',
                     'Score': 'Composer',
                     'Story By': 'Story Creator',
                     'Director Of Photography': 'Director of Photography',
                     
                     
                     }

for index, row in movies.iterrows():
    dicts = row['crew']
    copy_dict = copy.deepcopy(dicts[0])
    # Create a copy of the dictionary
    for key, value in _position_cleanup.items():
        if key in copy_dict:
            dicts[0][value] = dicts[0].pop(key)

In [457]:
for index, row in movies.iterrows():
    dicts = row['crew']
    copy_dict = copy.deepcopy(dicts[0])
    for key in _extract_to_columns:
        value = copy_dict.get(key)
        if value is not None:
            movies.at[index, key] = value
            dicts[0].pop(key)

In [458]:
movies.tail()

,url,cast,crew,opening_wknd_bo,legs,dom_pct,adj_dom_bo,budget,dom_releases,video_releases,...,Executive Producer,Editor,Composer,Screenwriter,Production Designer,Costume Designer,Story Creator,Director of Photography,Based on,Casting Director
9521,https://www.the-numbers.com/movie/Qing-Bie-Xia...,[],[{}],NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,,,,,,,,,,
9522,https://www.the-numbers.com/movie/Zhe-Me-Duo-N...,[],[{}],NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,,,,,,,,,,
9523,https://www.the-numbers.com/movie/Little-Merma...,"['Daveed Diggs', 'Awkwafina', 'Jacob Tremblay'...","[{'Song Writer': ['Howard Ashman', 'Lin-Manuel...",95578040.0,3.11,0.530,296908134.0,250000000.0,"May 26th, 2023 (Wide) by Walt DisneyMay 26th, ...","July 25th, 2023 by Walt Disney Home Entertainment",...,[Jeffrey Silver],[Wyatt Smith],[Alan Menken],[David Magee],,,"[Ron Clements, Hans Christian Andersen]",[Dion Beebe],,
9524,https://www.the-numbers.com/movie/Chang-Kong-Z...,[],[{}],132247.0,2.09,0.002,276743.0,NaN,"April 28th, 2023 (Limited) by Well Go USA, rel...",NaN,...,,,,,,,,,,
9525,https://www.the-numbers.com/movie/Wo-Ai-Ni-(20...,[],[{}],NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,,,,,,,,,,

In [459]:
movies = movies.drop(columns='crew')

### Cleaning `cast`

In [460]:
movies['cast'] = movies['cast'].apply(eval)

### Cleaning `dom_releases`

In [461]:
movies['dom_releases']

0                               February 8th, 1915 (Wide)
1                              December 24th, 1916 (Wide)
2                                  March 6th, 1921 (Wide)
3                    November 19th, 1925 (Limited) by MGM
4       December 30th, 1925 (Wide) by MGM, released as...
                              ...
9521                                                  NaN
9522                                                  NaN
9523    May 26th, 2023 (Wide) by Walt DisneyMay 26th, ...
9524    April 28th, 2023 (Limited) by Well Go USA, rel...
9525                                                  NaN
Name: dom_releases, Length: 9526, dtype: object

In [462]:
release_pattern = r'^([A-Za-z ]+ \d{1,2}(?:st|nd|rd|th), \d{4})'

movies['dom_release_date'] = (movies['dom_releases']
                              .str.extract(release_pattern, expand=True))
movies[['dom_releases', 'dom_release_date']]

                                           dom_releases     dom_release_date
0                             February 8th, 1915 (Wide)   February 8th, 1915
1                            December 24th, 1916 (Wide)  December 24th, 1916
2                                March 6th, 1921 (Wide)      March 6th, 1921
3                  November 19th, 1925 (Limited) by MGM  November 19th, 1925
4     December 30th, 1925 (Wide) by MGM, released as...  December 30th, 1925
...                                                 ...                  ...
9521                                                NaN                  NaN
9522                                                NaN                  NaN
9523  May 26th, 2023 (Wide) by Walt DisneyMay 26th, ...       May 26th, 2023
9524  April 28th, 2023 (Limited) by Well Go USA, rel...     April 28th, 2023
9525                                                NaN                  NaN

[9526 rows x 2 columns]

In [463]:
# Checking for potentially unsuccessful extractions
movies.loc[(movies['dom_release_date'].isna())&~(movies['dom_releases'].isna()), ['dom_release_date', 'dom_releases']]

     dom_release_date                                       dom_releases
124               NaN          1955 (Wide), released as Galapagos (1955)
293               NaN  1966 (Wide) by Allied Artists, released as A M...
315               NaN                                        1967 (Wide)
336               NaN                                        1968 (Wide)
338               NaN                       1968 (Wide) by Sony Pictures
...               ...                                                ...
8941              NaN                     2020 (Canceled) by Walt Disney
8991              NaN  2020 (Canceled) by Focus FeaturesJuly 30th, 20...
9114              NaN                   2021 (Canceled) by Sony Pictures
9124              NaN                     2021 (Canceled) by Well Go USA
9430              NaN  2022 (Canceled) by STX EntertainmentMarch 3rd,...

[113 rows x 2 columns]

In [464]:
# Release year only is not interesting, already included in years, hence leaving it fully off.
movies = movies.drop(columns='dom_releases')

In [465]:
ordinal_pattern = r'(?<=\d)(?:st|nd|rd|th)'
movies['dom_release_date'] = (movies['dom_release_date']
                              .apply(lambda x: re.sub(ordinal_pattern, '', str(x))))

set_as_date(movies, 'dom_release_date', '%B %d, %Y')
movies['dom_release_date'].tail()

9521          NaT
9522          NaT
9523   2023-05-26
9524   2023-04-28
9525          NaT
Name: dom_release_date, dtype: datetime64[ns]

### Cleaning `video_release_date`

In [466]:
movies['video_release_date'] = (movies['video_releases']
                                .str.extract(release_pattern, expand=True))
movies.loc[movies['video_releases'].isna(), ['video_releases', 'video_release_date']].sum()

video_releases        0
video_release_date    0
dtype: object

In [467]:
movies['video_release_date'] = (movies['video_release_date']
                                .apply(lambda x: re.sub(ordinal_pattern, '', str(x))))
set_as_date(movies, 'video_release_date', '%B %d, %Y')
movies['video_release_date'].tail()

9521          NaT
9522          NaT
9523   2023-07-25
9524          NaT
9525          NaT
Name: video_release_date, dtype: datetime64[ns]

In [468]:
movies.loc[(~movies['video_releases'].isna()) & (movies['video_release_date'].isna()), ['video_releases', 'video_release_date']]

                                         video_releases video_release_date
430                       1980s by Paramount Home Video                NaT
432        1974 by ABC, released as The Valachi Papers                 NaT
549                                         1982 by CBS                NaT
692                                         1983 by ABC                NaT
755                           2007 by Warner Home Video                NaT
779                                   1980 by MGM Video                NaT
931                        1982 by Paramount Home Video                NaT
1056  1995 by Columbia Pictures Home Entertainment, ...                NaT
1074                                  1985 by MGM Video                NaT
1171           1985 by Sony Pictures Home Entertainment                NaT
1277                       1987 by Paramount Home Video                NaT
1493                                        1991 by CBS                NaT
1501                                        1992 by ABC                NaT
1567                                        1992 by ABC                NaT
1707             1989 by Buena Vista Home Entertainment                NaT
2144       1993 by Columbia Pictures Home Entertainment                NaT
2223                                               1994                NaT
2441                  by Buena Vista Home Entertainment                NaT
4923                        2011 by Phase 4 Films Video                NaT
6565                                2015 by Prime Video                NaT
8637  January, 2021 by Screen Media Video, released ...                NaT
9289                                Spring, 2023 by Max                NaT
9469                                    2023 by Disney+                NaT
9476                                    2023 by Disney+                NaT

In [469]:
# Since it is only very few and only give the full year, we can go ahead and ignore it and drop the column
movies = movies.drop(columns='video_releases')

### Cleaning `url`

In [470]:
movies['url'] = movies['url'].astype('string')

### Cleaning `languages`

In [471]:
movies['languages'].tail(25)

9501                                     English
9502                                     English
9503                                     Russian
9504                                     English
9505                                     English
9506                                    Japanese
9507                                     Spanish
9508                                     English
9509                                    Mandarin
9510                                     English
9511                                    Japanese
9512                                    Mandarin
9513    Hindi, Kannada, Malayalam, Tamil, Telugu
9514                                    Mandarin
9515                                     English
9516                                    Mandarin
9517                                     English
9518                                     English
9519                                     English
9520                                     English
9521                                    Mandarin
9522                                    Mandarin
9523                                     English
9524                                    Mandarin
9525                                    Mandarin
Name: languages, dtype: object

In [472]:
movies['languages'] = movies['languages'].str.split(',')
movies['languages'].tail(25)

9501                                         [English]
9502                                         [English]
9503                                         [Russian]
9504                                         [English]
9505                                         [English]
9506                                        [Japanese]
9507                                         [Spanish]
9508                                         [English]
9509                                        [Mandarin]
9510                                         [English]
9511                                        [Japanese]
9512                                        [Mandarin]
9513    [Hindi,  Kannada,  Malayalam,  Tamil,  Telugu]
9514                                        [Mandarin]
9515                                         [English]
9516                                        [Mandarin]
9517                                         [English]
9518                                         [English]
9519                                         [English]
9520                                         [English]
9521                                        [Mandarin]
9522                                        [Mandarin]
9523                                         [English]
9524                                        [Mandarin]
9525                                        [Mandarin]
Name: languages, dtype: object

### Cleaning producers

In [473]:
movies['producers'].value_counts()[:50]

Warner Bros.                                           50
Universal Pictures                                     29
Paramount Pictures                                     29
Columbia Pictures                                      28
20th Century Fox                                       23
Castle Rock Entertainment                              23
Working Title Films                                    22
Regency Enterprises                                    22
Twentieth Century Fox                                  21
Marvel Studios                                         21
Walt Disney Pictures                                   20
Tri-Star Pictures                                      18
DreamWorks Animation                                   18
Touchstone Pictures                                    17
Metro-Goldwyn-Mayer Pictures                           15
Walt Disney Animation Studios                          14
Davis Entertainment                                    13
Lucasfilm                                              12
Amblin Entertainment                                   12
DreamWorks Pictures                                    12
Eon Productions, United Artists                        12
Silver Pictures                                        12
Disney-Pixar                                           11
Jersey Films                                           11
Lakeshore Entertainment                                11
Revolution Studios                                     11
New Line Cinema                                        11
Walt Disney Pictures, Disney-Pixar                      9
United Artists                                          8
Yash Raj Films                                          8
Disney-Pixar, Walt Disney Pictures                      8
Walt Disney Pictures, Walt Disney Animation Studios     8
Morgan Creek Productions                                8
Participant Media                                       8
Village Roadshow Productions                            7
Walden Media                                            7
Universal Pictures, Imagine Entertainment               6
Studio Ghibli                                           6
Scott Rudin Productions                                 6
Hollywood Pictures                                      6
Happy Madison                                           6
Gold Circle Films                                       6
Amblin Entertainment, Universal Pictures                6
DreamWorks Animation, PDI                               6
Imagine Entertainment                                   5
Geffen Pictures                                         5
Fox 2000 Pictures                                       5
Wingnut Films                                           5
Spyglass Entertainment                                  5
20th Century Fox Animation, Blue Sky Studios            5
Name: producers, dtype: int64

In [474]:
movies['producers'] = movies['producers'].str.split(',')

In [475]:
movies['franchise'].unique()

array([nan, 'King Kong', 'Wizard of Oz', 'Fantasia', 'Bambi',
       "Father Chuck O'Malley", 'Cinderella', 'Peter Pan',
       'Lady and the Tramp', 'Around the World in 80 Days',
       'Peyton Place', 'Psycho', '101 Dalmatians', 'Guns of Navarone',
       'Eddie Felson', 'James Bond', 'Mary Poppins', 'Pink Panther',
       'Flint', "Donald Hamilton's Matt Helm", 'Un homme et une femme',
       'Dollar Trilogy', 'Jungle Book', 'Billy Jack',
       'Planet of the Apes', 'Odd Couple',
       "George A. Romero's Dead Series", '2001', 'Thomas Crown Affair',
       'Easy Rider', 'Butch Cassidy and the Sundance Kid', 'Herbie',
       'Airport', 'Dirty Harry', 'French Connection', 'Last Picture Show',
       'Shaft', 'Willard', 'Godfather', 'Exorcist', 'The Sting',
       'American Graffiti', 'Texas Chainsaw Massacre', 'Benji',
       'Death Wish', 'Chinatown', 'Monty Python', 'Jaws', 'Carrie',
       'Rocky', 'Bad News Bears', 'Omen', 'Winnie the Pooh', 'Star Wars',
       'Smokey and the Bandit', 'Oh, God!', 'Saturday Night Fever',
       'Every Which Way But Loose', 'Superman', 'Grease',
       'Cheech & Chong', 'Halloween', 'National Lampoon', 'Muppets',
       'Meatballs', 'Alien', 'Star Trek', 'Mad Max', 'Black Stallion',
       'Amityville', 'Prom Night', 'Caddyshack', 'Friday the 13th',
       'The Shining', 'The Blue Lagoon', 'Airplane', 'Blues Brothers',
       'Exterminator', 'Arthur', 'Escape from New York',
       'The Fox and the Hound', 'American Werewolf', 'Cannonball Run',
       'The Howling', 'Indiana Jones', 'Dark Crystal', 'Conan', "Porky's",
       '48 Hrs.', 'Tron', 'The Thing', 'Blade Runner', 'Poltergeist',
       'Creepshow', 'Man from Snowy River', 'Rambo', 'Class of 1984',
       'Beastmaster', 'Ninja', 'Hercules', 'Terms of Endearment',
       'Chained Heat', 'Evil Dead', "National Lampoon's Vacation",
       'Angel', 'Red Dawn', 'Terminator', "Breakin'", 'Beverly Hills Cop',
       'Missing in Action', 'Nightmare on Elm Street',
       'Philadelphia Experiment', 'Romancing the Stone',
       'Children of the Corn', 'Purple Rain', 'Police Academy',
       'Karate Kid', 'Gods Must Be Crazy', 'NeverEnding Story',
       'Revenge of the Nerds', 'Ghostbusters', 'Gremlins',
       'Return of the Living Dead', 'The Color Purple', 'Teen Wolf',
       'American Ninja', 'Allan Quatermain', 'Fletch', 'Care Bears',
       'Fright Night', 'Pee Wee',
       "National Lampoon's VacationNational Lampoon",
       'Back to the Future', 'Cocoon', 'House', 'Crocodile Dundee',
       'Hannibal Lecter', 'Fly', 'American Tail', 'Transformers',
       'Short Circuit', 'Top Gun', 'My Little Pony', 'Delta Force', 'F/X',
       'Iron Eagle', 'Highlander', 'Critters', 'Wall Street',
       'Hellraiser', 'Three Men and a Baby', 'Gate', 'Ernest',
       'Untouchables', 'Predator', 'RoboCop', 'Dirty Dancing', 'Stakeout',
       'Lost Boys', 'Lethal Weapon', 'Mannequin', 'A Fish Called Wanda',
       'Die Hard', 'Phantasm', 'Coming to America', 'Bloodsport',
       'Viva Pedro Box', 'The Land Before Time', 'Naked Gun',
       'Young Guns', "Child's Play", 'Prancer', 'The Little Mermaid',
       'All Dogs Go To Heaven', 'Major League', 'Pet Sematary',
       'Bill & Ted', 'Kickboxer', "Look Who's Talking", 'Batman',
       'Honey I Shrunk the Kids', 'Far From Home', "Weekend at Bernie's",
       'Wild Orchid', 'Tremors', 'Jack Ryan', 'House Party',
       'Teenage Mutant Ninja Turtles', 'Home Alone', 'Kindergarten Cop',
       'Problem Child', 'Flatliners', 'Darkman', 'The Rocketeer',
       'Hot Shots', 'Warlock', 'White Fang', 'City Slickers', 'Backdraft',
       'Addams Family', 'My Girl', 'Father of the Bride',
       'Beauty and the Beast', 'Sister Act', 'Candyman', 'Pure Country',
       "Wayne's World", 'Beethoven', 'Basic Instinct', 'Lawnmower Man',
       'The Red Curtain Trilogy', 'Mighty Ducks', 'Under Siege',
       'Universal Soldier', '3 Ninjas', 'Fugitive', 'Free Willy',
       'Fortress', "Carlito's Way", 'Gettysburg', 'Best of the Best',
       'Cop and a Half', 'The Sandlot', 'Jurassic Park', 'Leprechaun',
       'Sniper', 'Homeward Bound', 'Grumpy Old Men', 'Ace Ventura',
       'Timecop', 'Crow', 'Mask', 'Flintstones', 'Speed', 'The Lion King',
       'Santa Clause', 'The Last Seduction', 'Swan Princess',
       'Street Fighter', 'Dumb and Dumber', 'Get Shorty',
       'Tales from the Crypt', 'Before Sunrise', 'Jumanji',
       'Ghost in the Shell', 'Toy Story', 'Mortal Kombat', 'Babe',
       'Power Rangers', 'Smoke', 'Species', 'El Mariachi', 'Brady Bunch',
       'Bad Boys', 'Tales From the Hood', 'Friday', 'Nutty Professor',
       'Independence Day', 'Visiteurs', 'The Hunchback of Notre Dame',
       'Dragonheart', 'Mission: Impossible', 'Trainspotting', 'Space Jam',
       'Jingle All the Way', 'Scream', 'View Askewniverse',
       'Austin Powers', 'Anaconda', 'Men in Black', 'Starship Troopers',
       'Mimic', 'Air Bud', 'I Know What You Did Last Summer', 'Bean',
       'Soul Food', 'X-Files', 'Doctor Dolittle', 'Godzilla',
       'Big Lebowski', 'Wild Things', 'Zorro', 'Mulan', 'Les Boys',
       'Rugrats Movie', 'Belly', 'Elizabeth', 'Half Baked', 'Blade',
       'Urban Legend', 'Rush Hour', 'Cube', 'House on Haunted Hill',
       'The Best Man', 'Omega Code', 'Ripley', 'Cirque du Soleil',
       'Stuart Little', 'Deuce Bigelow', 'Pokemon', 'Baby Geniuses',
       'Analyze This', 'Matrix', 'Buena Vista Social Club', 'Mummy',
       'American Pie', 'Blair Witch Project', 'Deep Blue Sea',
       'Lake Placid', 'The Art of War', 'Hollow Man', 'Bring It On',
       'Center Stage', 'Road Trip', 'Shanghai Noon', "Big Momma's House",
       'Scary Movie', 'X-Men', 'Dungeons & Dragons',
       'Crouching Tiger, Hidden Dragon', 'Unbreakable',
       "Charlie's Angels", 'The Emperor’s New Groove', 'Meet the Parents',
       'Miss Congeniality', 'Dracula 2000', 'Whole Nine Yards', 'Riddick',
       'Final Destination', 'Shrek', 'Bridget Jones', 'Cats and Dogs',
       'Joe Dirt', 'Fast and the Furious', 'Lara Croft', 'Spy Kids',
       'Legally Blonde', 'Donnie Darko', 'Monsters, Inc.',
       "Ocean's Eleven", 'Behind Enemy Lines', 'Harry Potter', 'Joy Ride',
       'Zoolander', 'Princess Diaries', 'Jeepers Creepers',
       "Peter Jackson's Lord of the Rings", 'Save the Last Dance',
       'Big Fat Liar', 'Resident Evil', 'Ice Age', 'Super Troopers',
       'My Big Fat Greek Wedding', 'MummyScorpion King',
       'Van WilderNational Lampoon', 'xXx', 'Blue Crush', 'Spider-Man',
       'Bourne', 'Scooby-Doo', 'Lilo and Stitch', 'Undisputed', 'Ring',
       'Jackass', 'Transporter', 'Barbershop', 'VeggieTales',
       'Underworld', 'Kill Bill',
       'Friday the 13thNightmare on Elm Street', 'Cabin Fever', 'Honey',
       'Cheaper by the Dozen', 'City of God', 'Brother Bear', 'Elf',
       'Vengeance Trilogy', 'Bad Santa', 'Agent Cody Banks',
       'House of 1,000 Corpses', 'Old School', 'Johnny English',
       'Italian Job', 'Wrong Turn', 'Hulk', 'Pirates of the Caribbean',
       '28 Days Later', 'Finding Nemo', 'Bruce Almighty',
       'Daddy Day Care', 'Johnson Family', 'Saw', 'National Treasure',
       'SpongeBob SquarePants', 'What the Bleep', 'You Got Served',
       'Butterfly Effect', 'Hellboy', 'USA - Land of Opportunities',
       'The Incredibles', 'Garfield', 'Dodgeball', 'Anchorman',
       'A Cinderella Story', 'Punisher', 'Mean Girls', 'Grudge',
       'Three Flavours Cornetto Trilogy', 'Harold & Kumar', 'Open Water',
       'AlienPredatorAVP', 'Without a Paddle',
       'Sisterhood of the Traveling Pants', 'Madagascar',
       'BatmanDark Knight Trilogy', 'Fantastic Four', 'John Constantine',
       'Ong-Bak', 'Boogeyman', 'Are We There Yet?', 'Madea', 'Sin City',
       'Dukes of Hazzard', 'Jarhead ', 'Wolf Creek',
       'Chronicles of Narnia', 'Wallace and Gromit', 'Waiting',
       'White Noise', 'Banlieue 13', 'Koi Mil Gaya',
       'ClerksView Askewniverse', 'An Inconvenient Truth', 'See No Evil',
       'Da Vinci Code', 'Silent Hill', 'Fire Earth Water', 'Cars',
       'The Spanish Apartment', 'Goal', 'Tom yum goong', 'Open Season',
       'Pulse', 'Step Up', 'Crank', 'Night at the Museum', 'Borat',
       'Flicka', 'The Marine', 'Happy Feet', 'Dhoom', 'Inside Man',
       'Benchwarmers', 'Hills Have Eyes', 'Night Watch', 'BloodRayne',
       'Hoodwinked', 'Nanny McPhee', 'Hostel', 'Curious George',
       'Hatchet', 'Bratz', 'Masked Rider', '2 Days In',
       'Ladron que roba a ladron', 'Dhamaal', 'Why Did I Get Married',
       '[REC]', 'His Dark Materials', 'Alvin and the Chipmunks',
       'AVPPredatorAlien', 'Hitman: Agent 47', '30 Days of Night',
       'The Condemned', '300', "Happily N'Ever After",
       'Arthur and the Minimoys', 'Smokin Aces', 'Cities of Love',
       'Ghost Rider', 'The Simpsons', "Surf's Up", 'Vacancy',
       'Detective Conan', 'Stomp the Yard', 'Twentieth Century Boys',
       'Sex and the City', 'The Strangers', 'Kung Fu Panda',
       'HulkMarvel Cinematic Universe', 'Sarkar',
       'Iron ManMarvel Cinematic Universe', 'Bhoothnath', 'OSS 117',
       'American Girl', 'Mirrors', 'Hancock', 'Mamma Mia', 'Asterix',
       'Kitaro', 'Journey to the Center of the Earth', 'Space Chimps',
       'Street Kings', 'Jumper', 'In The Name of the King', 'Cloverfield',
       'Evangelion', 'Taken', 'Death Race', 'Never Back Down',
       'Molly Hartley', 'High School Musical', 'Quarantine', 'Twilight',
       'Beverly Hills Chihuahua', 'Marley and Me', 'G.I. Joe',
       'Cloudy with a Chance of Meatballs', 'Boondock Saints',
       'Red Cliff', 'Avatar', 'Nativity', 'Millenium', 'Sherlock Holmes',
       'Paranormal Activity', 'St. Trinian’s', 'Zombieland',
       'The Collector', 'X-MenWolverine', 'Haunting in Connecticut',
       '12 Rounds', 'Ip Man', 'Paul Blart: Mall Cop', 'Hangover',
       'Kick-Ass', 'How to Train Your Dragon', 'Clash of the Titans',
       'Hot Tub Time Machine', 'Percy Jackson',
       "Garry Marshall's Holiday Franchise", 'Diary of a Wimpy Kid',
       'Alice in Wonderland', 'RED', 'Monsters', 'Golmaal', 'Yogi Bear',
       'If You Are the One', 'Skyline', 'Grown Ups', 'Despicable Me',
       'Salt', 'The Last Exorcism', 'Machete', 'Dabangg',
       'Alpha and Omega', 'Piranha', 'The Expendables', 'Singham',
       'Captain AmericaMarvel Cinematic Universe', 'Ironclad',
       'Horrible Bosses', 'Atlas Shrugged', 'Insidious', 'Rio',
       'ThorMarvel Cinematic Universe', 'The Smurfs', 'The Mechanic',
       'Gnomeo and Juliet', 'Tanu Weds Manu', 'Tropa de Elite',
       'Ivan Tsarevich i Seryy Volk', 'Don', 'Millennium (English)',
       'Top Cat', 'Dolphin Tale', 'Lubov Morkov', 'Tintin', 'Project X',
       'Liar Game', '21 Jump Street', 'Hunger Games',
       'Tomorrow, When the War Began', 'Goon', 'Always',
       'Best Exotic Marigold Hotel', 'Safe House', 'The Woman in Black',
       'The Truth if I Lie!', "Tyler Perry's Madea", 'OMG',
       'Pitch Perfect', 'Sinister', 'Outrage', 'Tai Chi Zero', 'Raaz',
       'The Inbetweeners', 'Bayside Shakedown', 'Hotel Transylvania',
       "Peter Jackson's Lord of the RingsThe Hobbit",
       'Ren zai jiong tu Tai jiong', 'One Piece', 'Jack Reacher',
       'Armour of God', 'Snow Queen', 'Wreck-It Ralph',
       'The Man With The Iron Fists', 'Cold War', 'We Were There',
       'Marvel Cinematic UniverseAvengers', 'Manual of Love', 'Jannat',
       'A Few Best Men', 'Serbuan maut', 'Housefull', 'Torrente',
       'Think Like a Man', 'Snow White and the Huntsman',
       "A Turtle\\'s Tale", 'The Pact', 'Magic Mike', 'Ted',
       'Snabba Cash', 'Si da ming bu', 'Umizaru', 'Hua Pi', 'R.I.P.D',
       'The Conjuring', 'Pacific Rim', 'The Heat', 'WolverineX-Men',
       'Planes', 'Shootout at Lokhandwala', 'So Young', 'Hanni and Nanni',
       'Romance', 'The Last Shot In The Bar ', 'World War Z',
       'SupermanDC Extended Universe', 'The Purge', 'Now You See Me',
       'Belle et Sebastien', '47 Ronin', 'Frozen', 'Fack ju Göhte',
       'Detective Dee', 'Sophie’s Revenge', 'JackassBad Grandpa',
       'Escape Plan', 'Race  ', 'Kokowaah', 'Journey to the West',
       'A Haunted House', 'ABCD', 'Dragon Ball ZDragon Ball',
       'Has Fallen', 'Jolly LLB', 'The Croods', 'Edge of Tomorrow',
       'Maleficent', 'GodzillaMonsterVerse', 'Neighbors', 'The Trip',
       'Tiny Times', 'Lego', 'The Man From Macau', 'Ride Along',
       'The Nut Job', 'Spanish Affair', 'The Divergent Series',
       "God's Not Dead", 'Tinker Bell', 'One Hundred Thousand Bad Jokes',
       'John Wick', 'Ouija', 'A Chinese Odyssey', 'Unbroken',
       'The Maze Runner', 'The Equalizer', 'The ConjuringAnnabelle',
       'Left Behind', 'Doraemon',
       'Marvel Cinematic UniverseGuardians of the Galaxy', 'Paddington',
       'Sicario', 'Klovn', 'Windstorm', 'Gekijo ban Naruto', 'Peanuts',
       'Ex Files', 'Goosebumps', 'Attack on Titan', 'Seer',
       'Thomas and Friends', 'Marvel Cinematic UniverseAnt-Man',
       'Zhuo yao ji (Monster Hunt)', 'Roco Kingdom', 'Barbie',
       'Zhu Zhu Xia', 'Sha po long', 'Despicable MeMinions', 'Inside Out',
       'Baahubali', 'Les Profs', 'Max', 'Fifty Shades of Grey',
       'Shaun the Sheep', 'Detective Chinatown', 'The Miracle',
       'Daddy’s Home', 'Boonie Bears', 'Kingsman', 'Kiseijuu', 'Vacanze',
       'Wedding Association ', 'Letters to Santa', 'RockyCreed',
       'Babysitting', 'Unfriended', 'Ooops!', 'Yokai Watch',
       'Chihayafuru', 'Finding Mr Right', 'Train to Busan', 'Camping',
       'The Secret Life of Pets', 'Angry Birds',
       'Man of SteelSupermanBatmanDC Extended Universe', 'Les Tuche',
       'From Vegas to Macau', 'The Monkey King', 'The Boy',
       'Kocan Kadar Konus', 'Norm of the North', 'X-MenDeadpool',
       'The Mountain',
       'Harry PotterFantastic Beasts and Where to Find Them', 'Sing',
       'Trolls', 'Brice', 'Marvel Cinematic UniverseDoctor Strange',
       'Desu Noto', 'My Mom is a Character', 'Red Dog', 'Soof',
       'Yugo & Lala', 'DC Extended Universe', 'King of Prism',
       'New Happy Dad and Son', 'Bad Moms', 'Final Fantasy',
       'BatmanDC Animated Movie Universe', 'Don’t Breathe',
       'No Manches Frida', 'Judwaa', 'Wonder', 'The Snowman',
       'Happy Death Day', 'Axel', 'The Dark Tower', 'It',
       'The Hitman’s Bodguard', 'High and Low', 'Happy Family',
       'Steel Rain', 'Poor but very rich', 'Fukrey', 'Pororo',
       'Ek Tha Tiger', 'Troublesome Night',
       'ThorMarvel Cinematic UniverseHulk',
       "Kenneth Branagh's Hercule Poirot", 'Zhan Lang',
       'King KongMonsterVerse', 'Sword Art Online', 'The Boss Baby',
       'Peppa Pig', 'Recep Ivedik', 'A Dog’s Purpose', 'GG Bond',
       'LegoBatman', 'Crayon Shin Chan',
       'Spider-ManMarvel Cinematic Universe', '77 Heartbreaks',
       'Wind River', 'Dear Tutu', 'No Game No Life', 'Gintama',
       'Aces of the Jungle', 'Shock Wave', 'Dark Universe',
       'Captain Underpants', 'DC Extended UniverseWonder Woman',
       'What a Wonderful Family!', '47 Meters Down',
       'The Accidental Detective', 'The Witch    ',
       'Ant-ManMarvel Cinematic Universe', 'DeadpoolX-Men', 'Book Club',
       'Let The Bullets Fly', 'Cinderella (Gold Valley Films)',
       'Searching', 'Gogol', 'Crazy Rich Asians', 'The ConjuringThe Nun',
       'Neuilly Yo Mama', 'The Meg', 'My Hero Academia',
       'Marvel Cinematic UniverseBlack Panther', 'Peter Rabbit',
       'Women of the Mafia', 'What Men Talk About', 'Maya the Bee',
       'Deliha', 'Detective K', 'Help', 'A Quiet Place', 'Taxi', 'Baaghi',
       'Girls (China)', 'I Can Only Imagine',
       'DC Extended UniverseAquaman', 'Spider-ManSony’s Marvel Universe',
       'Mojin', 'Yolki', 'Dragon Ball', 'Yo-kai Watch', 'Travel Mates',
       'Sony’s Marvel UniverseVenom', 'Stolen Identity', 'Bing Feng Xia',
       'The Fable', 'Chasing the Dragon', 'AnnabelleThe Conjuring', 'Viy',
       'BTS', 'Marvel Cinematic Universe', 'Loud Connection', 'After',
       'Head Over Heels', 'Tanguy', 'DC Extended UniverseShazam', 'Dumbo',
       'Storm', 'Escape Room', 'White Snake', 'The Biggest Little Farm',
       'Fate/stay Night', 'Serial (Bad) Weddings', 'The Wandering Earth',
       'Minuscule', 'Violet Evergarden', 'Lupin III', 'Prityazhenie',
       'Happy retirement!', 'Knives Out', 'Kholop (Russia)',
       'The Devil’s Rejects', 'Downton Abbey', 'The Divine Move',
       'Toto’s Jokes', 'Father There is Only One',
       'Fengshen Cinematic Universe', 'Class Reunion', 'Digimon',
       '365 Days (365 Dni)', 'Ducobu', 'Lyod', 'Sonic The Hedgehog',
       'Neposredstvenno Kakha (Russia)',
       'Wonder WomanDC Extended Universe', 'The Craft',
       'Demon Slayer: Kimetsu no YaibaDemon Slayer',
       'VenomSony’s Marvel Universe', 'Kaamelott', 'Paw Patrol',
       'National Day Celebration', 'The Chosen',
       'Marvel Cinematic UniverseSpider-Man', 'The Last Warrior',
       'Laws Of The Universe', 'Spirit: Riding Free',
       'GodzillaKing KongMonsterVerse', 'Rurouni Kenshin',
       'I Corrupt All Cops', 'The Battle at Lake Changjin', 'X',
       'Ponniyin Selvan', 'Terrifier', 'M3GAN', 'Drishyam', 'Clerks',
       'The Roundup', 'Sony’s Marvel Universe',
       'Fantastic Beasts and Where to Find ThemHarry Potter',
       'Brahmastra', 'Confidential Assignment',
       'Marvel Cinematic UniverseThor', 'Orphan', 'Plane   ',
       'Tokyo Revengers', 'The White Storm'], dtype=object)

In [476]:
# Investigating shows that multiple keywords seem to be together in camelCase
# Example: 'Man of SteelSupermanBatmanDC Extended Universe'

franchise_pattern = r'(?<=[a-z])(?=[A-Z])'

movies['franchise_clean'] = (movies['franchise']
                             .apply(lambda x: re.split(franchise_pattern, str(x)) if str(x) != 'nan' else None))
movies.loc[~movies['franchise'].isna(), ['franchise', 'franchise_clean']][:50]

                              franchise                       franchise_clean
8                             King Kong                           [King Kong]
12                         Wizard of Oz                        [Wizard of Oz]
15                             Fantasia                            [Fantasia]
22                                Bambi                               [Bambi]
33                Father Chuck O'Malley               [Father Chuck O'Malley]
42                Father Chuck O'Malley               [Father Chuck O'Malley]
77                           Cinderella                          [Cinderella]
97                            Peter Pan                           [Peter Pan]
127                  Lady and the Tramp                  [Lady and the Tramp]
135         Around the World in 80 Days         [Around the World in 80 Days]
145                        Peyton Place                        [Peyton Place]
179                              Psycho                              [Psycho]
194                      101 Dalmatians                      [101 Dalmatians]
199                        Peyton Place                        [Peyton Place]
201                    Guns of Navarone                    [Guns of Navarone]
206                        Eddie Felson                        [Eddie Felson]
240                          James Bond                          [James Bond]
246                        Mary Poppins                        [Mary Poppins]
253                          James Bond                          [James Bond]
254                        Pink Panther                        [Pink Panther]
258                        Pink Panther                        [Pink Panther]
261                          James Bond                          [James Bond]
265                               Flint                               [Flint]
279                          James Bond                          [James Bond]
292         Donald Hamilton's Matt Helm         [Donald Hamilton's Matt Helm]
293               Un homme et une femme               [Un homme et une femme]
306                      Dollar Trilogy                      [Dollar Trilogy]
315                               Flint                               [Flint]
319                          James Bond                          [James Bond]
327                         Jungle Book                         [Jungle Book]
329                          Billy Jack                          [Billy Jack]
330                          James Bond                          [James Bond]
333                  Planet of the Apes                  [Planet of the Apes]
337                          Odd Couple                          [Odd Couple]
338         Donald Hamilton's Matt Helm         [Donald Hamilton's Matt Helm]
342      George A. Romero's Dead Series      [George A. Romero's Dead Series]
350                                2001                                [2001]
355                 Thomas Crown Affair                 [Thomas Crown Affair]
360                          Easy Rider                          [Easy Rider]
370  Butch Cassidy and the Sundance Kid  [Butch Cassidy and the Sundance Kid]
372                          James Bond                          [James Bond]
379                              Herbie                              [Herbie]
395                             Airport                             [Airport]
399                  Planet of the Apes                  [Planet of the Apes]
404                          Billy Jack                          [Billy Jack]
408                  Planet of the Apes                  [Planet of the Apes]
412                         Dirty Harry                         [Dirty Harry]
416                   French Connection                   [French Connection]
417                   Last Picture Show                   [Last Picture Show]
419                               Shaft                               [Shaft]

In [477]:
#Looks fine
movies['franchise'] = movies['franchise_clean']
movies = movies.drop(columns='franchise_clean')

## Cleaning `df_bo`

In [478]:
df_bo.head()

,Unnamed: 0,id,date,rank,gross,pct_change,theaters,per_theater,total_gross,kind,kind_num,pct_lw
0,0,https://www.the-numbers.com/movie/Cinderella-(...,"Dec 18, 1981",6,"$1,300,000",,560,"$2,321","$1,300,000",weekend,"1,662",NaN
1,1,https://www.the-numbers.com/movie/Cinderella-(...,"Jan 1, 1982",3,"$4,691,990",,"1,073","$4,373","$17,223,729",weekend,"1,664",NaN
2,2,https://www.the-numbers.com/movie/Cinderella-(...,"Jan 8, 1982",8,"$1,774,588",-62%,"1,050","$1,690","$19,966,217",weekend,"1,665",NaN
3,3,https://www.the-numbers.com/movie/Cinderella-(...,"Jan 15, 1982",9,"$1,235,249",-30%,940,"$1,314","$4,846,893",weekend,"1,666",NaN
4,4,https://www.the-numbers.com/movie/Cinderella-(...,"Nov 20, 1987",2,"$5,165,881",,"1,646","$3,138","$5,165,881",weekend,"1,971",NaN

In [479]:
df_bo['market'] = 'Domestic'

In [480]:
df_bo.shape

(431954, 13)

In [481]:
df_country['market'] = df_country['id'].str.split('/').str.get(-1).str.split('#').str.get(0).str.replace('-', ' ')

df_country['id'] = df_country['id'].str.replace(str('/' + df_country['id'].str.split('/').str.get(-1)), '', regex=False)

In [482]:
df_country['id'] = df_country['id'].str.extract(r"(https://www\.the-numbers\.com/movie/[^\s/]+)")

In [483]:
df_country.shape

(569777, 13)

In [484]:
df_country.duplicated().sum()

284613

In [485]:
df_country = df_country.drop_duplicates()

In [486]:
df_bo = pd.concat([df_bo, df_country])

In [487]:
df_bo.shape

(717118, 13)

In [488]:
df_bo = df_bo.drop(columns=['Unnamed: 0'])
df_bo = df_bo.rename(columns={'id': 'url'})

In [489]:
df_bo.shape

(717118, 12)

In [490]:
# Adding additional movie info
_df = movies[['movie_id', 'url', 'year', 'movie_title']]
bo = pd.merge(df_bo, _df, on='url', how='left')

In [491]:
df_bo.shape

(717118, 12)

In [492]:
bo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 717118 entries, 0 to 717117
Data columns (total 15 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   url          717118 non-null  object
 1   date         717118 non-null  object
 2   rank         717118 non-null  object
 3   gross        717118 non-null  object
 4   pct_change   717118 non-null  object
 5   theaters     717118 non-null  object
 6   per_theater  717118 non-null  object
 7   total_gross  717118 non-null  object
 8   kind         717118 non-null  object
 9   kind_num     717118 non-null  object
 10  pct_lw       236377 non-null  object
 11  market       717118 non-null  object
 12  movie_id     717118 non-null  int64
 13  year         717118 non-null  int64
 14  movie_title  717118 non-null  string
dtypes: int64(2), object(12), string(1)
memory usage: 87.5+ MB

### Cleaning `gross`, `per_theater`, `total_gross`

In [493]:
# Cleaning monetary values
get_monetary_clean(bo, ['gross', 'per_theater', 'total_gross'])

### Cleaning `bo_url`

In [494]:
bo['url'] = bo['url'].astype('string')

### Cleaning `date`

In [495]:
bo.head()

,url,date,rank,gross,pct_change,theaters,per_theater,total_gross,kind,kind_num,pct_lw,market,movie_id,year,movie_title
0,https://www.the-numbers.com/movie/Cinderella-(...,"Dec 18, 1981",6,1300000.0,,560,2321.0,1300000.0,weekend,"1,662",NaN,Domestic,78,1950,Cinderella (1950)
1,https://www.the-numbers.com/movie/Cinderella-(...,"Jan 1, 1982",3,4691990.0,,"1,073",4373.0,17223729.0,weekend,"1,664",NaN,Domestic,78,1950,Cinderella (1950)
2,https://www.the-numbers.com/movie/Cinderella-(...,"Jan 8, 1982",8,1774588.0,-62%,"1,050",1690.0,19966217.0,weekend,"1,665",NaN,Domestic,78,1950,Cinderella (1950)
3,https://www.the-numbers.com/movie/Cinderella-(...,"Jan 15, 1982",9,1235249.0,-30%,940,1314.0,4846893.0,weekend,"1,666",NaN,Domestic,78,1950,Cinderella (1950)
4,https://www.the-numbers.com/movie/Cinderella-(...,"Nov 20, 1987",2,5165881.0,,"1,646",3138.0,5165881.0,weekend,"1,971",NaN,Domestic,78,1950,Cinderella (1950)

In [496]:
bo['date'] = pd.to_datetime(bo['date'])

### Creating day_kind

In [497]:
bo.columns

Index(['url', 'date', 'rank', 'gross', 'pct_change', 'theaters', 'per_theater',
       'total_gross', 'kind', 'kind_num', 'pct_lw', 'market', 'movie_id',
       'year', 'movie_title'],
      dtype='object')

In [498]:
bo.shape

(717118, 15)

In [499]:
def classify_date(date):
    # Check if the date is a business day
    if date.weekday() < 4:
        return "business"
    
    # Check if the date is a weekend day
    elif date.weekday() >= 4:
        return "weekend"
    
    # Otherwise, classify it as a holiday
    return "holiday"

# Precompute the set of holidays in the United States
us_holidays = holidays.UnitedStates()

# Apply the classification function to the date column
bo['day_kind'] = bo.loc[(bo['market'] == 'Domestic') & (bo['kind'] == 'daily'), 'date'].apply(
    lambda date: classify_date(date) if date not in us_holidays else "Holiday"
)

### Cleaning `rank`, `kind_num`

In [500]:
bo['rank'].unique()

array([6, 3, 8, 9, 2, 4, 7, 11, 12, 20, 5, 85, '19', '27', '55', '20',
       '26', '60', '13', '21', '35', '56', '59', '66', '80', '22', '77',
       '14', '36', '62', '82', '1', '5', '9', '17', '25', '42', '3', '8',
       '4', '7', '28', '43', '11', '18', '32', '45', '63', '71', '86',
       '51', '72', '2', '6', '10', '34', '65', '73', '74', '16', '37',
       '47', '53', '46', '12', '15', '38', '57', '54', '50', '41', '40',
       '44', '33', '61', '68', '69', '83', '90', '104', '67', '70', '81',
       '89', '101', '30', '24', '31', '49', '39', '29', '75', '23', '78',
       '58', '64', '52', '76', '98', '79', '-', '110', '112', '48', '94',
       '95', '88', '92', '93', '91', '85', '87', '84', '97', '107', '117',
       '102', '114', '96', '103', '105', '111', '118', '113', '125',
       '119', '108', '106', '109', '100', '99', '120', '115', '116',
       '133', '122', '121', '134', '130', '139', '136', 'P', '123', '127',
       18, 23, 29, 37, 38, 52, 39, 13, 21, 33, 41, 50, 48, 45, 10, 17, 25,
       42, 16, 26, 35, 27, 15, 30, 36, 46, 31, 14, 22, 1, 40, 51, 43, 28,
       32, 24, 34, 49, 54, 47, 56, 19, 44, 53, 55, 60, 59, 58, 57, 61,
       '0', '124', '128', '126', '129', '135', '138', '131', '132', '153',
       '154', '148', '144', '145', '140', '151', '141', '146', '165',
       '147', '152', '137', '149', 62, '142', '143', '150', 96, 79, 103,
       80, 75, 92, 89, 67, 69, 90, 71, 77, 65, 68, 81, 95, 87, 91, 115,
       112, 111, 104, 98, 116, 74, 131, 93, 125, 123, 101, 83, 63, 66, 82,
       88, 94, 102, 97, 109, 72, 86, '163', '159', 70, 73, 105, 106, 113,
       107, 84, 99, 110, 117, 78, 64, 76, '157', '162'], dtype=object)

In [501]:
bo['rank'] = pd.to_numeric(bo['rank'], errors='coerce', downcast='integer')
bo['kind_num'] = pd.to_numeric(bo['kind_num'], errors='coerce', downcast='integer')
bo[['kind_num', 'rank']]

        kind_num  rank
0            NaN   6.0
1            NaN   3.0
2            NaN   8.0
3            NaN   9.0
4            NaN   2.0
...          ...   ...
717113       1.0  24.0
717114       NaN   NaN
717115       1.0   NaN
717116     109.0   NaN
717117     110.0   NaN

[717118 rows x 2 columns]

In [502]:
bo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 717118 entries, 0 to 717117
Data columns (total 16 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   url          717118 non-null  string
 1   date         717118 non-null  datetime64[ns]
 2   rank         479279 non-null  float64
 3   gross        717118 non-null  float64
 4   pct_change   717118 non-null  object
 5   theaters     717118 non-null  object
 6   per_theater  691982 non-null  float64
 7   total_gross  717118 non-null  float64
 8   kind         717118 non-null  object
 9   kind_num     711820 non-null  float64
 10  pct_lw       236377 non-null  object
 11  market       717118 non-null  object
 12  movie_id     717118 non-null  int64
 13  year         717118 non-null  int64
 14  movie_title  717118 non-null  string
 15  day_kind     258147 non-null  object
dtypes: datetime64[ns](1), float64(5), int64(2), object(6), string(2)
memory usage: 93.0+ MB

### Cleaning `kind`

In [503]:
set_categorical(bo, ['kind'])

### Cleaning `pct_change`, `pct_lw`

In [504]:
bo ['pct_change'] = pd.to_numeric(bo['pct_change'].str.replace('%', '', regex=False).str.replace('\xa0', '', regex=False), errors='coerce', downcast='float')/100
bo ['pct_lw'] = pd.to_numeric(bo['pct_lw'].str.replace('%', '', regex=False).str.replace('\xa0', '', regex=False), errors='coerce', downcast='float')/100

### Cleanin `theaters`

In [505]:
bo['theaters'] = pd.to_numeric(bo['theaters'], errors='coerce', downcast='integer')

## Data Exploration

In [506]:
bo.head(10)

,url,date,rank,gross,pct_change,theaters,per_theater,total_gross,kind,kind_num,pct_lw,market,movie_id,year,movie_title,day_kind
0,https://www.the-numbers.com/movie/Cinderella-(...,1981-12-18,6.0,1300000.0,NaN,560.0,2321.0,1300000.0,weekend,NaN,NaN,Domestic,78,1950,Cinderella (1950),NaN
1,https://www.the-numbers.com/movie/Cinderella-(...,1982-01-01,3.0,4691990.0,NaN,NaN,4373.0,17223729.0,weekend,NaN,NaN,Domestic,78,1950,Cinderella (1950),NaN
2,https://www.the-numbers.com/movie/Cinderella-(...,1982-01-08,8.0,1774588.0,-0.62,NaN,1690.0,19966217.0,weekend,NaN,NaN,Domestic,78,1950,Cinderella (1950),NaN
3,https://www.the-numbers.com/movie/Cinderella-(...,1982-01-15,9.0,1235249.0,-0.30,940.0,1314.0,4846893.0,weekend,NaN,NaN,Domestic,78,1950,Cinderella (1950),NaN
4,https://www.the-numbers.com/movie/Cinderella-(...,1987-11-20,2.0,5165881.0,NaN,NaN,3138.0,5165881.0,weekend,NaN,NaN,Domestic,78,1950,Cinderella (1950),NaN
5,https://www.the-numbers.com/movie/Cinderella-(...,1987-11-27,2.0,7243653.0,0.40,NaN,4372.0,14652555.0,weekend,NaN,NaN,Domestic,78,1950,Cinderella (1950),NaN
6,https://www.the-numbers.com/movie/Cinderella-(...,1987-12-04,4.0,3024737.0,-0.58,NaN,1825.0,18790781.0,weekend,NaN,NaN,Domestic,78,1950,Cinderella (1950),NaN
7,https://www.the-numbers.com/movie/Cinderella-(...,1987-12-11,7.0,1690152.0,-0.44,NaN,1103.0,21186597.0,weekend,NaN,NaN,Domestic,78,1950,Cinderella (1950),NaN
8,https://www.the-numbers.com/movie/Cinderella-(...,1987-12-18,11.0,1093603.0,-0.35,NaN,839.0,22716888.0,weekend,NaN,NaN,Domestic,78,1950,Cinderella (1950),NaN
9,https://www.the-numbers.com/movie/Cinderella-(...,1987-12-25,12.0,1623023.0,0.48,NaN,1051.0,25559696.0,weekend,NaN,NaN,Domestic,78,1950,Cinderella (1950),NaN

### Generating `weekday`

In [507]:
bo['weekday'] = bo['date'].dt.day_name()

In [508]:
movies['dom_release_date_weekday'] = movies['dom_release_date'].dt.day_name()

### Generating `week_num`

In [509]:
bo['week_num'] = bo['date'].dt.isocalendar().week

In [510]:
movies['dom_release_date_week_um'] = movies['dom_release_date'].dt.isocalendar().week

In [511]:
movies.columns

Index(['url', 'cast', 'opening_wknd_bo', 'legs', 'dom_pct', 'adj_dom_bo',
       'budget', 'runtime', 'keywords', 'source', 'prod_method',
       'creative_type', 'producers', 'prod_countries', 'languages',
       'franchise', 'dom_bo', 'int_bo', 'ww_bo', 'est_dom_dvd',
       'est_dom_bluray', 'tot_dom_vid_sales', 'year', 'movie_title', 'genre',
       'revenue_to_date', 'prod_multiple', 'opening_wknd_bo_pct_tot',
       'n_opening_theaters', 'n_max_theaters', 'weeks_average_run_theater',
       'movie_id', 'mpaa', 'Director', 'Producer', 'Executive Producer',
       'Editor', 'Composer', 'Screenwriter', 'Production Designer',
       'Costume Designer', 'Story Creator', 'Director of Photography',
       'Based on', 'Casting Director', 'dom_release_date',
       'video_release_date', 'dom_release_date_weekday',
       'dom_release_date_week_um'],
      dtype='object')

In [512]:
movies['budget'].describe()

count    4.673000e+03
mean     4.146560e+07
std      4.710891e+07
min      2.500000e+04
25%      1.100000e+07
50%      2.500000e+07
75%      5.300000e+07
max      4.600000e+08
Name: budget, dtype: float64

## Estimating Profits

In [513]:
bo.duplicated().sum()

376

In [514]:
#movies['est_profit'] =

In [515]:
movies.columns

Index(['url', 'cast', 'opening_wknd_bo', 'legs', 'dom_pct', 'adj_dom_bo',
       'budget', 'runtime', 'keywords', 'source', 'prod_method',
       'creative_type', 'producers', 'prod_countries', 'languages',
       'franchise', 'dom_bo', 'int_bo', 'ww_bo', 'est_dom_dvd',
       'est_dom_bluray', 'tot_dom_vid_sales', 'year', 'movie_title', 'genre',
       'revenue_to_date', 'prod_multiple', 'opening_wknd_bo_pct_tot',
       'n_opening_theaters', 'n_max_theaters', 'weeks_average_run_theater',
       'movie_id', 'mpaa', 'Director', 'Producer', 'Executive Producer',
       'Editor', 'Composer', 'Screenwriter', 'Production Designer',
       'Costume Designer', 'Story Creator', 'Director of Photography',
       'Based on', 'Casting Director', 'dom_release_date',
       'video_release_date', 'dom_release_date_weekday',
       'dom_release_date_week_um'],
      dtype='object')

### Calculating time difference between `dom_release_date` and `video_release_date`

In [516]:
movies['diff_dom_video_release'] = movies['video_release_date'] - movies['dom_release_date']

In [517]:
bo.head()

,url,date,rank,gross,pct_change,theaters,per_theater,total_gross,kind,kind_num,pct_lw,market,movie_id,year,movie_title,day_kind,weekday,week_num
0,https://www.the-numbers.com/movie/Cinderella-(...,1981-12-18,6.0,1300000.0,NaN,560.0,2321.0,1300000.0,weekend,NaN,NaN,Domestic,78,1950,Cinderella (1950),NaN,Friday,51
1,https://www.the-numbers.com/movie/Cinderella-(...,1982-01-01,3.0,4691990.0,NaN,NaN,4373.0,17223729.0,weekend,NaN,NaN,Domestic,78,1950,Cinderella (1950),NaN,Friday,53
2,https://www.the-numbers.com/movie/Cinderella-(...,1982-01-08,8.0,1774588.0,-0.62,NaN,1690.0,19966217.0,weekend,NaN,NaN,Domestic,78,1950,Cinderella (1950),NaN,Friday,1
3,https://www.the-numbers.com/movie/Cinderella-(...,1982-01-15,9.0,1235249.0,-0.30,940.0,1314.0,4846893.0,weekend,NaN,NaN,Domestic,78,1950,Cinderella (1950),NaN,Friday,2
4,https://www.the-numbers.com/movie/Cinderella-(...,1987-11-20,2.0,5165881.0,NaN,NaN,3138.0,5165881.0,weekend,NaN,NaN,Domestic,78,1950,Cinderella (1950),NaN,Friday,47

### Checking if scraped relative values are correct

In [518]:
movies['opening_wknd_bo']

0              NaN
1              NaN
2              NaN
3              NaN
4              NaN
           ...
9521           NaN
9522           NaN
9523    95578040.0
9524      132247.0
9525           NaN
Name: opening_wknd_bo, Length: 9526, dtype: float64

In [519]:
movies['opening_wknd_bo_pct_tot']

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
        ...
9521      NaN
9522      NaN
9523    0.322
9524    0.478
9525      NaN
Name: opening_wknd_bo_pct_tot, Length: 9526, dtype: float64

## Cleaning `df_int`

In [520]:
df_int.head()

,Unnamed: 0,territory,release_date,opening_wknd,opening_wknd_screens,max_screens,theatrical_engagements,total_bo,report_date,url,country_url,int_total,total_report_date
0,0,Australia,12/11/1943,$0,0.0,0,0,$0,NaN,https://www.the-numbers.com/movie/Bambi-(1942),https://www.the-numbers.com/movie/Bambi-(1942)...,"$165,203,000",NaN
1,0,Australia,12/11/1943,$0,0.0,0,0,$0,NaN,https://www.the-numbers.com/movie/Bambi-(1942),https://www.the-numbers.com/movie/Bambi-(1942)...,"$165,203,000",NaN
0,0,Australia,6/29/2018,$0,0.0,59,69,"$23,510",11/20/2020,https://www.the-numbers.com/movie/Bill-and-Ted...,https://www.the-numbers.com/movie/Bill-and-Ted...,"$25,072",11/20/2020
1,1,New Zealand,9/3/2020,$54,2.0,3,7,"$1,562",9/21/2020,https://www.the-numbers.com/movie/Bill-and-Ted...,https://www.the-numbers.com/movie/Bill-and-Ted...,"$25,072",11/20/2020
2,0,Australia,6/29/2018,$0,0.0,59,69,"$23,510",11/20/2020,https://www.the-numbers.com/movie/Bill-and-Ted...,https://www.the-numbers.com/movie/Bill-and-Ted...,"$25,072",11/20/2020

In [521]:
df_int = df_int.drop(columns=['Unnamed: 0', 'country_url'])

### Cleaning up `release_date`, `report_date`, `total_report_date`

In [522]:
for col in ['release_date', 'report_date', 'total_report_date']:
    df_int[col] = pd.to_datetime(df_int[col], errors='coerce')

### Cleaning up duplicates

In [523]:
df_int.duplicated().sum()

57240

### Cleaning up Index

In [524]:
df_int = df_int.reset_index().drop(columns=['index'])

In [525]:
df_int

,territory,release_date,opening_wknd,opening_wknd_screens,max_screens,theatrical_engagements,total_bo,report_date,url,int_total,total_report_date
0,Australia,1943-12-11,$0,0.0,0,0,$0,NaT,https://www.the-numbers.com/movie/Bambi-(1942),"$165,203,000",NaT
1,Australia,1943-12-11,$0,0.0,0,0,$0,NaT,https://www.the-numbers.com/movie/Bambi-(1942),"$165,203,000",NaT
2,Australia,2018-06-29,$0,0.0,59,69,"$23,510",2020-11-20,https://www.the-numbers.com/movie/Bill-and-Ted...,"$25,072",2020-11-20
3,New Zealand,2020-09-03,$54,2.0,3,7,"$1,562",2020-09-21,https://www.the-numbers.com/movie/Bill-and-Ted...,"$25,072",2020-11-20
4,Australia,2018-06-29,$0,0.0,59,69,"$23,510",2020-11-20,https://www.the-numbers.com/movie/Bill-and-Ted...,"$25,072",2020-11-20
...,...,...,...,...,...,...,...,...,...,...,...
114475,Spain,2013-02-22,"$149,886",55,55,262,"$531,661",2015-12-14,https://www.the-numbers.com/movie/Blue-Valentine,"$6,828,348",2020-06-17
114476,Rest of World,NaT,NaN,NaN,NaN,NaN,"$6,193,817",NaT,https://www.the-numbers.com/movie/Blue-Valentine,"$6,828,348",2020-06-17
114477,South Korea,2012-05-31,$0,0,1,1,"$102,870",2020-06-17,https://www.the-numbers.com/movie/Blue-Valentine,"$6,828,348",2020-06-17
114478,Spain,2013-02-22,"$149,886",55,55,262,"$531,661",2015-12-14,https://www.the-numbers.com/movie/Blue-Valentine,"$6,828,348",2020-06-17
114479,Rest of World,NaT,NaN,NaN,NaN,NaN,"$6,193,817",NaT,https://www.the-numbers.com/movie/Blue-Valentine,"$6,828,348",2020-06-17

### Cleaning up `opening_wknd`, `total_bo`, `int_total`

In [526]:
get_monetary_clean(df_int, ['opening_wknd', 'total_bo', 'int_total'])

In [527]:
df_int.tail(20)

,territory,release_date,opening_wknd,opening_wknd_screens,max_screens,theatrical_engagements,total_bo,report_date,url,int_total,total_report_date
114460,Brazil,2011-01-21,0.0,0,5,8,6458734.0,2015-12-12,https://www.the-numbers.com/movie/Yogi-Bear,104528679.0,2018-12-29
114461,Bulgaria,2011-02-11,0.0,0,9,9,216191.0,2018-12-29,https://www.the-numbers.com/movie/Yogi-Bear,104528679.0,2018-12-29
114462,Rest of World,NaT,NaN,NaN,NaN,NaN,97853754.0,NaT,https://www.the-numbers.com/movie/Yogi-Bear,104528679.0,2018-12-29
114463,Brazil,2011-01-21,0.0,0,5,8,6458734.0,2015-12-12,https://www.the-numbers.com/movie/Yogi-Bear,104528679.0,2018-12-29
114464,Bulgaria,2011-02-11,0.0,0,9,9,216191.0,2018-12-29,https://www.the-numbers.com/movie/Yogi-Bear,104528679.0,2018-12-29
114465,Rest of World,NaT,NaN,NaN,NaN,NaN,97853754.0,NaT,https://www.the-numbers.com/movie/Yogi-Bear,104528679.0,2018-12-29
114466,Australia,2011-01-26,0.0,0,3,3,0.0,NaT,https://www.the-numbers.com/movie/True-Grit-(2...,81033923.0,NaT
114467,Australia,2011-01-26,0.0,0,3,3,0.0,NaT,https://www.the-numbers.com/movie/True-Grit-(2...,81033923.0,NaT
114468,Nigeria,2010-12-24,0.0,0,"17,386","17,386",87077.0,2018-12-29,https://www.the-numbers.com/movie/Gullivers-Tr...,189238587.0,2018-12-29
114469,Rest of World,NaT,NaN,NaN,NaN,NaN,189151510.0,NaT,https://www.the-numbers.com/movie/Gullivers-Tr...,189238587.0,2018-12-29
114470,Nigeria,2010-12-24,0.0,0,"17,386","17,386",87077.0,2018-12-29,https://www.the-numbers.com/movie/Gullivers-Tr...,189238587.0,2018-12-29
114471,Rest of World,NaT,NaN,NaN,NaN,NaN,189151510.0,NaT,https://www.the-numbers.com/movie/Gullivers-Tr...,189238587.0,2018-12-29
114472,Germany,2023-04-27,0.0,0,0,0,0.0,NaT,https://www.the-numbers.com/movie/illusionniste-L,6378475.0,NaT
114473,Germany,2023-04-27,0.0,0,0,0,0.0,NaT,https://www.the-numbers.com/movie/illusionniste-L,6378475.0,NaT
114474,South Korea,2012-05-31,0.0,0,1,1,102870.0,2020-06-17,https://www.the-numbers.com/movie/Blue-Valentine,6828348.0,2020-06-17
114475,Spain,2013-02-22,149886.0,55,55,262,531661.0,2015-12-14,https://www.the-numbers.com/movie/Blue-Valentine,6828348.0,2020-06-17
114476,Rest of World,NaT,NaN,NaN,NaN,NaN,6193817.0,NaT,https://www.the-numbers.com/movie/Blue-Valentine,6828348.0,2020-06-17
114477,South Korea,2012-05-31,0.0,0,1,1,102870.0,2020-06-17,https://www.the-numbers.com/movie/Blue-Valentine,6828348.0,2020-06-17
114478,Spain,2013-02-22,149886.0,55,55,262,531661.0,2015-12-14,https://www.the-numbers.com/movie/Blue-Valentine,6828348.0,2020-06-17
114479,Rest of World,NaT,NaN,NaN,NaN,NaN,6193817.0,NaT,https://www.the-numbers.com/movie/Blue-Valentine,6828348.0,2020-06-17

### Cleaning `opening_wknd_screens`

In [528]:
df_int['opening_wknd_screens'].unique()

array([0.0, 2.0, 9.0, ..., '21,691', '30,479', '29,996'], dtype=object)

In [529]:
for col in ['opening_wknd_screens', 'max_screens', 'theatrical_engagements']:
    df_int[col] = df_int[col].str.replace(',', '', regex=True)

In [530]:
df_int['opening_wknd_screens'].unique()

array([nan, '14', '0', ..., '21691', '30479', '29996'], dtype=object)

In [531]:
df_int['opening_wknd_screens'] = df_int['opening_wknd_screens'].astype('float')

In [532]:
df_int

,territory,release_date,opening_wknd,opening_wknd_screens,max_screens,theatrical_engagements,total_bo,report_date,url,int_total,total_report_date
0,Australia,1943-12-11,0.0,NaN,NaN,NaN,0.0,NaT,https://www.the-numbers.com/movie/Bambi-(1942),165203000.0,NaT
1,Australia,1943-12-11,0.0,NaN,NaN,NaN,0.0,NaT,https://www.the-numbers.com/movie/Bambi-(1942),165203000.0,NaT
2,Australia,2018-06-29,0.0,NaN,59,69,23510.0,2020-11-20,https://www.the-numbers.com/movie/Bill-and-Ted...,25072.0,2020-11-20
3,New Zealand,2020-09-03,54.0,NaN,3,7,1562.0,2020-09-21,https://www.the-numbers.com/movie/Bill-and-Ted...,25072.0,2020-11-20
4,Australia,2018-06-29,0.0,NaN,59,69,23510.0,2020-11-20,https://www.the-numbers.com/movie/Bill-and-Ted...,25072.0,2020-11-20
...,...,...,...,...,...,...,...,...,...,...,...
114475,Spain,2013-02-22,149886.0,55.0,55,262,531661.0,2015-12-14,https://www.the-numbers.com/movie/Blue-Valentine,6828348.0,2020-06-17
114476,Rest of World,NaT,NaN,NaN,NaN,NaN,6193817.0,NaT,https://www.the-numbers.com/movie/Blue-Valentine,6828348.0,2020-06-17
114477,South Korea,2012-05-31,0.0,0.0,1,1,102870.0,2020-06-17,https://www.the-numbers.com/movie/Blue-Valentine,6828348.0,2020-06-17
114478,Spain,2013-02-22,149886.0,55.0,55,262,531661.0,2015-12-14,https://www.the-numbers.com/movie/Blue-Valentine,6828348.0,2020-06-17
114479,Rest of World,NaT,NaN,NaN,NaN,NaN,6193817.0,NaT,https://www.the-numbers.com/movie/Blue-Valentine,6828348.0,2020-06-17

# Charts & Elements for Dashboard

In [533]:
bo.to_pickle('processed_data/bo.pkl.gz')
movies.to_pickle('processed_data/movies.pkl.gz')

In [534]:
bo.shape

(717118, 18)

In [535]:
df_int.duplicated()

0         False
1          True
2         False
3         False
4          True
          ...
114475    False
114476    False
114477     True
114478     True
114479     True
Length: 114480, dtype: bool

In [536]:
above_10 = bo.loc[(bo['day_kind'] == 'business') & (bo['rank'] == 2) &(bo['kind_num'] > 3) & (bo['weekday'].isin(['Monday', 'Tuesday', 'Wednesday', 'Thursday'])) & (bo['gross'] > 10_000_000), ['movie_title', 'gross', 'date', 'weekday', 'year', 'day_kind']].sort_values('gross', ascending=False)
above_10

,movie_title,gross,date,weekday,year,day_kind
39572,Sing (2016),17515525.0,2016-12-27,Tuesday,2016,business
408433,Jumanji: Welcome to the Jungle (2017),17073421.0,2017-12-26,Tuesday,2017,business
320741,Avatar (2009),16445291.0,2009-12-23,Wednesday,2009,business
39573,Sing (2016),15501840.0,2016-12-28,Wednesday,2016,business
147762,Frozen (2013),15161249.0,2013-11-27,Wednesday,2013,business
408434,Jumanji: Welcome to the Jungle (2017),15122619.0,2017-12-27,Wednesday,2017,business
39574,Sing (2016),15039855.0,2016-12-29,Thursday,2016,business
408435,Jumanji: Welcome to the Jungle (2017),14841305.0,2017-12-28,Thursday,2017,business
72608,Incredibles 2 (2018),13719714.0,2018-06-26,Tuesday,2018,business
51102,Inside Out (2015),13038808.0,2015-06-23,Tuesday,2015,business
169797,Oppenheimer (2023),12671950.0,2023-07-24,Monday,2023,business
321563,Alvin and the Chipmunks: The Squeakquel (2009),12532035.0,2009-12-29,Tuesday,2009,business
321562,Alvin and the Chipmunks: The Squeakquel (2009),12096892.0,2009-12-28,Monday,2009,business
169798,Oppenheimer (2023),12073530.0,2023-07-25,Tuesday,2023,business
321564,Alvin and the Chipmunks: The Squeakquel (2009),11777294.0,2009-12-30,Wednesday,2009,business
284732,The Hobbit: An Unexpected Journey (2012),11388229.0,2012-12-26,Wednesday,2012,business
383863,Jumanji: The Next Level (2019),11187236.0,2019-12-26,Thursday,2019,business
311503,Transformers: Revenge of the Fallen (2009),10939131.0,2009-07-01,Wednesday,2009,business
38940,Fantastic Beasts and Where to Find Them (2016),10931033.0,2016-11-23,Wednesday,2016,business
83786,Mary Poppins Returns (2018),10900660.0,2018-12-26,Wednesday,2018,business
169799,Oppenheimer (2023),10665845.0,2023-07-26,Wednesday,2023,business
51101,Inside Out (2015),10485640.0,2015-06-22,Monday,2015,business
406608,Justice League (2017),10448116.0,2017-11-22,Wednesday,2017,business
72607,Incredibles 2 (2018),10417081.0,2018-06-25,Monday,2018,business
72615,Incredibles 2 (2018),10278385.0,2018-07-03,Tuesday,2018,business
72609,Incredibles 2 (2018),10231988.0,2018-06-27,Wednesday,2018,business
376090,Toy Story 4 (2019),10164415.0,2019-07-02,Tuesday,2019,business
83787,Mary Poppins Returns (2018),10063643.0,2018-12-27,Thursday,2018,business
72610,Incredibles 2 (2018),10020390.0,2018-06-28,Thursday,2018,business
169800,Oppenheimer (2023),10003685.0,2023-07-27,Thursday,2023,business

In [537]:
above_10_count = above_10.groupby('movie_title').count()
above_10_count.loc[above_10_count['gross'] > 2,:]

,gross,date,weekday,year,day_kind
movie_title,,,,,
Alvin and the Chipmunks: The Squeakquel (2009),3,3,3,3,3
Incredibles 2 (2018),5,5,5,5,5
Jumanji: Welcome to the Jungle (2017),3,3,3,3,3
Oppenheimer (2023),4,4,4,4,4
Sing (2016),3,3,3,3,3

In [538]:
above_10_no_christmas = bo.loc[(bo['day_kind'] == 'business') & (bo['rank'] == 2) &(bo['kind_num'] > 3) & (bo['weekday'].isin(['Monday', 'Tuesday', 'Wednesday', 'Thursday'])) & (bo['gross'] > 10_000_000) & (bo['date'].dt.month != 12), ['movie_title', 'gross', 'date', 'weekday', 'year', 'day_kind']].sort_values('gross', ascending=False)
above_10_no_christmas

,movie_title,gross,date,weekday,year,day_kind
147762,Frozen (2013),15161249.0,2013-11-27,Wednesday,2013,business
72608,Incredibles 2 (2018),13719714.0,2018-06-26,Tuesday,2018,business
51102,Inside Out (2015),13038808.0,2015-06-23,Tuesday,2015,business
169797,Oppenheimer (2023),12671950.0,2023-07-24,Monday,2023,business
169798,Oppenheimer (2023),12073530.0,2023-07-25,Tuesday,2023,business
311503,Transformers: Revenge of the Fallen (2009),10939131.0,2009-07-01,Wednesday,2009,business
38940,Fantastic Beasts and Where to Find Them (2016),10931033.0,2016-11-23,Wednesday,2016,business
169799,Oppenheimer (2023),10665845.0,2023-07-26,Wednesday,2023,business
51101,Inside Out (2015),10485640.0,2015-06-22,Monday,2015,business
406608,Justice League (2017),10448116.0,2017-11-22,Wednesday,2017,business
72607,Incredibles 2 (2018),10417081.0,2018-06-25,Monday,2018,business
72615,Incredibles 2 (2018),10278385.0,2018-07-03,Tuesday,2018,business
72609,Incredibles 2 (2018),10231988.0,2018-06-27,Wednesday,2018,business
376090,Toy Story 4 (2019),10164415.0,2019-07-02,Tuesday,2019,business
72610,Incredibles 2 (2018),10020390.0,2018-06-28,Thursday,2018,business
169800,Oppenheimer (2023),10003685.0,2023-07-27,Thursday,2023,business

In [539]:
above_10_no_christmas_count = above_10_no_christmas.groupby('movie_title').count()
above_10_no_christmas_count.loc[above_10_no_christmas_count['gross'] > 2,:]

                      gross  date  weekday  year  day_kind
movie_title
Incredibles 2 (2018)      5     5        5     5         5
Oppenheimer (2023)        4     4        4     4         4

In [540]:
bo = bo.loc[bo['date'].dt.year <= bo['year'] + 2, :]

In [541]:
filtered_movies = bo.loc[bo['market'] == 'Domestic'].groupby('movie_title').agg(min_rank=('rank', 'min'), max_total_gross=('total_gross', 'max'))

In [542]:
filtered_movies = filtered_movies[filtered_movies['min_rank'] >= 2]

In [543]:
filtered_movies.sort_values('max_total_gross', ascending=False).head(10)

                                     min_rank  max_total_gross
movie_title
Sing (2016)                               2.0      270329045.0
Alvin and the Chipmunks (2007)            2.0      217326974.0
World War Z (2013)                        2.0      202359711.0
Puss in Boots: The Last Wish (2022)       2.0      185535345.0
Lincoln (2012)                            2.0      182207973.0
The Polar Express (2004)                  2.0      176530794.0
Dances with Wolves (1990)                 2.0      175293948.0
Oppenheimer (2023)                        2.0      174566060.0
The Greatest Showman (2017)               2.0      174340174.0
Knives Out (2019)                         2.0      165364060.0

In [544]:
 bo.loc[(bo['kind'] == 'daily') & (bo['movie_title'] == 'Oppenheimer (2023)')].groupby('movie_title').min()

/var/folders/f4/mmfbs50954l08xffq4m0vf3m0000gn/T/ipykernel_59219/3039827796.py:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.min is deprecated. In a future version, a TypeError will be raised. Before calling .min, select only columns which should be valid for the function.
  bo.loc[(bo['kind'] == 'daily') & (bo['movie_title'] == 'Oppenheimer (2023)')].groupby('movie_title').min()

,url,date,rank,gross,pct_change,theaters,per_theater,total_gross,kind_num,pct_lw,market,movie_id,year,day_kind,weekday,week_num
movie_title,,,,,,,,,,,,,,,,
Oppenheimer (2023),https://www.the-numbers.com/movie/Oppenheimer-...,2023-07-20,2.0,10003685.0,-0.45,NaN,2771.0,10500000.0,1.0,-0.59,Domestic,9489,2023,business,Friday,29

In [545]:
movies['opening_v_budget'] = movies['opening_wknd_bo'] / movies['budget']

In [546]:
movies['opening_v_budget']

0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
          ...
9521         NaN
9522         NaN
9523    0.382312
9524         NaN
9525         NaN
Name: opening_v_budget, Length: 9526, dtype: float64

In [547]:
movies.sort_values('opening_v_budget', ascending=False)[['movie_title', 'budget', 'opening_wknd_bo', 'opening_v_budget']].head(10)

,movie_title,budget,opening_wknd_bo,opening_v_budget
6701,The Gallows (2015),100000.0,9808463.0,98.084630
5663,The Devil Inside (2012),1000000.0,33732515.0,33.732515
6904,Unfriended (2015),1000000.0,15845115.0,15.845115
3700,Tupac Resurrection (2003),300000.0,4632847.0,15.442823
3829,Saw (2004),1200000.0,18276468.0,15.230390
4910,Fireproof (2008),500000.0,6804764.0,13.609528
5221,Paranormal Activity 2 (2010),3000000.0,40678424.0,13.559475
4262,Facing the Giants (2006),100000.0,1343537.0,13.435370
3580,Jackass: The Movie (2002),2000000.0,22763437.0,11.381718
6035,The Purge (2013),3000000.0,34058360.0,11.352787

In [548]:
movies.loc[movies['opening_wknd_bo'] >= 50_000_000, ['movie_title', 'budget', 'opening_wknd_bo', 'opening_v_budget']].sort_values('opening_v_budget', ascending=False).head(10)

,movie_title,budget,opening_wknd_bo,opening_v_budget
5623,Paranormal Activity 3 (2011),5000000.0,52568183.0,10.513637
8280,Halloween (2018),10000000.0,76221545.0,7.622154
8536,Us (2019),20000000.0,71117625.0,3.555881
7506,It (2017),35000000.0,123403419.0,3.525812
3851,The Passion of the Christ (2004),25000000.0,83848082.0,3.353923
8129,A Quiet Place (2018),17000000.0,50203562.0,2.953151
4948,The Twilight Saga: New Moon (2009),50000000.0,142839137.0,2.856783
5219,Jackass 3D (2010),20000000.0,50353641.0,2.517682
8005,The Nun (2018),22000000.0,53807379.0,2.445790
6933,Pitch Perfect 2 (2015),29000000.0,69216890.0,2.386789

In [549]:
movies.columns

Index(['url', 'cast', 'opening_wknd_bo', 'legs', 'dom_pct', 'adj_dom_bo',
       'budget', 'runtime', 'keywords', 'source', 'prod_method',
       'creative_type', 'producers', 'prod_countries', 'languages',
       'franchise', 'dom_bo', 'int_bo', 'ww_bo', 'est_dom_dvd',
       'est_dom_bluray', 'tot_dom_vid_sales', 'year', 'movie_title', 'genre',
       'revenue_to_date', 'prod_multiple', 'opening_wknd_bo_pct_tot',
       'n_opening_theaters', 'n_max_theaters', 'weeks_average_run_theater',
       'movie_id', 'mpaa', 'Director', 'Producer', 'Executive Producer',
       'Editor', 'Composer', 'Screenwriter', 'Production Designer',
       'Costume Designer', 'Story Creator', 'Director of Photography',
       'Based on', 'Casting Director', 'dom_release_date',
       'video_release_date', 'dom_release_date_weekday',
       'dom_release_date_week_um', 'diff_dom_video_release',
       'opening_v_budget'],
      dtype='object')

In [571]:
movies.explode('Director').groupby('Director').sum().reset_index().iloc[0, 0]

/var/folders/f4/mmfbs50954l08xffq4m0vf3m0000gn/T/ipykernel_59219/3483731357.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  movies.explode('Director').groupby('Director').sum().reset_index().iloc[0, 0]

''

In [575]:
movies['Director'][:50]

0                                       [D.W. Griffith]
1                                        [Stuart Paton]
2                                          [Rex Ingram]
3                                          [King Vidor]
4                                          [Fred Niblo]
5
6
7                                         [James Whale]
8              [Merian C. Cooper, Ernest B. Schoedsack]
9
10                                      [W.S. Van Dyke]
11                                         [David Hand]
12    [Mervyn LeRoy, King Vidor, Victor Fleming, Ric...
13                                        [Frank Capra]
14             [Victor Fleming, George Cukor, Sam Wood]
15
16                                        [Jack Conway]
17                                   [Alfred Hitchcock]
18                     [Ben Sharpsteen, Hamilton Luske]
19                                       [Howard Hawks]
20                                   [Jacques Tourneur]
21
22                                        [James Algar]
23
24                                     [Michael Curtiz]
25                                      [William Wyler]
26                                     [George Stevens]
27                                     [Michael Curtiz]
28                                           [Sam Wood]
29                                     [Michael Curtiz]
30                                     [Victor Fleming]
31                           [Karen Arthur, Henry King]
32                                  [Vincente Minnelli]
33                                        [Leo McCarey]
34
35                                         [Elia Kazan]
36
37
38
39                                   [Alfred Hitchcock]
40                                       [Billy Wilder]
41                                      [John M. Stahl]
42                                        [Leo McCarey]
43                                         [King Vidor]
44                                        [Frank Capra]
45                                     [Clarence Brown]
46                                      [William Wyler]
47
48
49
Name: Director, dtype: object

In [576]:
def load_movies():
    # Load and preprocess your data here
    movies = pd.read_pickle('processed_data/movies.pkl.gz')
    # Perform any necessary preprocessing
    return movies

In [578]:
test = load_movies()

In [588]:
test['Director'][0]

['D.W. Griffith']

In [591]:
movies['Executive Producer'].apply(eval())

SyntaxError: invalid syntax (<string>, line 0)

In [583]:
test['Executive Producer'][:50]

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28    [B.G. DeSylva]
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
Name: Executive Producer, dtype: object